workflows/gmail/5SeL1g0ygtyvlBLC.json
{
  "active": true,
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Map error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map error": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt 4.1 mini": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-19T15:58:19.208Z",
  "id": "5SeL1g0ygtyvlBLC",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Error workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -240,
        0
      ],
      "id": "d8f0c46e-f3fb-455b-9a1b-28e4ae6dcbc7",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "sendTo": "tibo57350@gmail.com",
        "subject": "=[n8n] Erreur - Workflow: {{ $('Error Trigger').item.json.workflow.name }}",
        "emailType": "text",
        "message": "=Une erreur est survenue sur:\n\nWorkflow: {{ $('Error Trigger').item.json.workflow.name }} en erreur !\nDate : {{ $now.toDateTime().setLocale('fr').toFormat('dd/MM/yyyy - HH:mm') }}\nLast node: {{ $('Error Trigger').item.json.execution.lastNodeExecuted }}\n\nDetails: \n{{ $json.output.details }}\n\nStack trace:\n{{ $('Error Trigger').item.json.execution.error.stack }}\n\nThibaud",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        480,
        0
      ],
      "id": "fd422ff6-5196-4a5e-be23-fb890eda55c4",
      "name": "Gmail",
      "webhookId": "b786a5b1-8b6a-4493-9de2-4d0644efef68",
      "credentials": {
        "gmailOAuth2": {
          "id": "3nYOAEhuTICsGfgK",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "text": "=Voici l'erreur : {{ $json.error }}",
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"details\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}",
        "options": {
          "systemPromptTemplate": "=Tu es un expert en extraction algorithmique.\nTon role est d'analyser une erreur suite à une execution d'un worfklow sur n8n.\nTu dois résumer de manière la plus concise possible et ne rien expliquer d'autre.\n\nMon message suivant est composé de :\nWorkflow: Nom du workflow en erreur !\nDate : Date et heure de l'erreur.\nLast node: Dernier node executé.\n\nDetails: \nC'est ici que je te demande de l'aide.\n\nStack trace:\nJe possède déjà la stack trace ne me la retourne pas.\n\nJ'ai uniquement besoin que tu m'aide pour le détails. Je possède déjà les autres informations, pas besoin de le répeter.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        160,
        0
      ],
      "id": "5cc38664-38ab-4330-860d-51abf734e701",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1273be01-790a-4eec-9c5d-38e876046d7d",
              "name": "error",
              "value": "={{ $json.execution.error }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -40,
        0
      ],
      "id": "a2337e51-d8c5-49be-9654-1c51da4c70f8",
      "name": "Map error"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        160,
        160
      ],
      "id": "ba27f564-94b7-4e24-bf3d-0ff6aad9ee01",
      "name": "gpt 4.1 mini",
      "credentials": {
        "openRouterApi": {
          "id": "pV44amjL1nJfCXDj",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-05-19T16:21:59.602Z",
      "updatedAt": "2025-05-19T16:21:59.602Z",
      "id": "VKwN21oSyYvFqG2C",
      "name": "gmail"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-07-07T16:39:26.000Z",
  "versionId": "1f92702d-11d5-410d-8396-ca21f85ca778"
}