workflows/t2TUb7pF2E0VaE7Y.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Notion Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt 5.1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "DeepResearch": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Notion": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-01T00:46:31.062Z",
  "id": "t2TUb7pF2E0VaE7Y",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "DeepResearch Ultra-Simplifié",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "event": "pagedUpdatedInDatabase",
        "databaseId": {
          "__rl": true,
          "value": "2c382fe2-6406-8080-861e-e3459b8986f0",
          "mode": "list",
          "cachedResultName": "Deepresearch test",
          "cachedResultUrl": "https://www.notion.so/2c382fe264068080861ee3459b8986f0"
        }
      },
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        0,
        448
      ],
      "id": "4b2eddc3-0481-4258-a434-5115b681a6dd",
      "name": "Notion Trigger",
      "credentials": {
        "notionApi": {
          "id": "62MjEeirg4hzemTI",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4e1fe325-c351-44b9-8463-d43065646594",
              "leftValue": "={{ $json.Deep }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "8233c90e-de1e-4dcd-9947-beb2aa45459c",
              "leftValue": "={{ $json.Description }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        224,
        448
      ],
      "id": "137b8f8e-7fd0-4d04-baec-19123b001cf3",
      "name": "Filter"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Titre: {{ $json.Titre }}\nDescription: {{ $json.Description }}\nId: {{ $json.id }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Tu es un agent spécialisé en deep research.\n\nTu disposes de deux outils :\n1. **DeepResearch** : pour effectuer des recherches complexes, détaillées et fiables sur n'importe quel sujet\n2. **MCP Notion** : pour écrire le contenu directement dans la page Notion\n\n# Input\nL'utilisateur te fournira deux champs :\n- \"Titre\" : titre de la recherche\n- \"Description\" : courte description du sujet à explorer\n- \"Id\" : id de la page à compléter\n\n# Workflow\n1. Utilise le tool DeepResearch pour collecter les informations les plus pertinentes, fiables et variées.\n2. Analyse et croise les sources.\n3. Synthétise les résultats de manière claire, neutre, structurée en Markdown.\n4. Utilise le tool MCP Notion pour ajouter le contenu à la page Notion dont l'ID est : {{ $json.id }}\n\n# Output\n- Utilise des titres (#, ## et ###), des listes, des tableaux si pertinent\n- À la fin, ajoute une section \"# Sources\" avec la liste des URLs utilisées\n\n# Règles\n- Ne pas inventer de données ou de sources\n- Mentionner les points de divergence entre sources si nécessaire\n- Le résultat doit être concis mais complet, orienté insights/actionable intelligence"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        512,
        448
      ],
      "id": "e19b6599-ccfa-488c-865e-2b0a78020b95",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-5.1",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        448,
        672
      ],
      "id": "ec5c435b-6e72-4e02-ba01-3c7ba808e911",
      "name": "gpt 5.1",
      "credentials": {
        "openRouterApi": {
          "id": "zb2293xtkSB2aBnr",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "messages": {
          "message": [
            {
              "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', ``, 'string') }}"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexityTool",
      "typeVersion": 1,
      "position": [
        576,
        672
      ],
      "id": "7dd0ade9-1705-4f8e-9d44-8067d3a66244",
      "name": "DeepResearch",
      "credentials": {
        "perplexityApi": {
          "id": "RkoPs3Wa6qVDPkMf",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.notion.com/mcp",
        "authentication": "mcpOAuth2Api",
        "options": {
          "timeout": 60000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        704,
        672
      ],
      "id": "6592febb-cd34-4cd1-a9d7-fe1f2d6b6a18",
      "name": "MCP Notion",
      "credentials": {
        "mcpOAuth2Api": {
          "id": "kCAQVNNeTE9QsH1H",
          "name": "MCP account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Filter').item.json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Deep|checkbox",
              "checkboxValue": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        912,
        448
      ],
      "id": "0ac9b178-c5e8-41d7-aaab-5bb90d778d09",
      "name": "Update a database page",
      "credentials": {
        "notionApi": {
          "id": "62MjEeirg4hzemTI",
          "name": "Notion account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "zSl3wxrgtLrk7m2j"
  },
  "shared": [
    {
      "updatedAt": "2025-12-01T00:46:31.064Z",
      "createdAt": "2025-12-01T00:46:31.064Z",
      "role": "workflow:owner",
      "workflowId": "t2TUb7pF2E0VaE7Y",
      "projectId": "TBUFy0KozocPEXEX"
    }
  ],
  "staticData": {
    "node:Notion Trigger": {
      "lastTimeChecked": "2025-12-08T20:25:00.000Z",
      "possibleDuplicates": [
        "2c382fe2-6406-80fe-ac70-f6658d8f7ce8"
      ]
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-09T17:55:30.000Z",
  "versionId": "9f0aeb28-5765-477f-af0b-14389413bdfe"
}