workflows/T9FnUQ4kuNI11cG2.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Respond to User1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-12T12:53:31.984Z",
  "id": "T9FnUQ4kuNI11cG2",
  "meta": null,
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -240,
        -100
      ],
      "id": "f1165f8f-7e3d-4e52-b110-ebb50f97ef6c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Raconte moi une blague sur Michael Jackson",
        "options": {
          "systemMessage": ""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -20,
        -100
      ],
      "id": "d111ae6b-0b53-4cd5-a513-8c95e5d708ed",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        0,
        120
      ],
      "id": "54f3f0a2-7218-486a-8856-7e64990d8d0c",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "PmqmzdRFH1SO1Yvi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "hihi"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        100,
        100
      ],
      "id": "54d684ce-ceb0-411f-b478-6941a46feb90",
      "name": "Window Buffer Memory1"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "632464393272498",
        "recipientPhoneNumber": "33667739776",
        "textBody": "={{ $json.output }}",
        "additionalFields": {},
        "requestOptions": {}
      },
      "id": "d42e84d0-f9e5-4ce0-a265-cb597ae07c7e",
      "name": "Respond to User1",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        340,
        -100
      ],
      "typeVersion": 1,
      "credentials": {
        "whatsAppApi": {
          "id": "7beInjQbuvTLjM8M",
          "name": "WhatsApp account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-03-12T13:01:52.000Z",
  "versionId": "6220377a-8358-4b3c-813a-86132b66dd0c"
}