workflows/U7BPeL1dh0KFg0KZ.json
{
  "active": true,
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Research Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BookSummary Subworkflow": {
      "main": [
        [
          {
            "node": "Execution Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Request": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Page": {
      "main": [
        [
          {
            "node": "End Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execution Data": {
      "main": [
        [
          {
            "node": "JobType Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JobType Router": {
      "main": [
        [
          {
            "node": "Set Initial Query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "BookSummary Control",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Initial Query": {
      "main": [
        [
          {
            "node": "Generate Summaries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initiate BookSummary": {
      "main": [
        []
      ]
    },
    "Set Next Queries": {
      "main": [
        [
          {
            "node": "Generate Summaries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Summaries": {
      "main": [
        [
          {
            "node": "Set Current Step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Stop ?": {
      "main": [
        [
          {
            "node": "Format Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Next Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "BookSummary Control",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tags to Items": {
      "main": [
        [
          {
            "node": "Notion Block Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML to Array": {
      "main": [
        [
          {
            "node": "Tags to Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion Block Generator": {
      "main": [
        [
          {
            "node": "Parse JSON blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Notion Block Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON blocks": {
      "main": [
        [
          {
            "node": "Valid Blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid Blocks": {
      "main": [
        [
          {
            "node": "For Each Block...",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "For Each Block...": {
      "main": [
        [
          {
            "node": "Add page cover image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add blocks to Notion Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "Create Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Result": {
      "main": [
        [
          {
            "node": "Generate Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Current Step": {
      "main": [
        [
          {
            "node": "Should Stop ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to HTML": {
      "main": [
        [
          {
            "node": "Insert image column",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BookSummary Control": {
      "main": [
        [
          {
            "node": "Get book cover img",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "End Form": {
      "main": [
        [
          {
            "node": "Initiate BookSummary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert image column": {
      "main": [
        [
          {
            "node": "HTML to Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map imageUrl": {
      "main": [
        [
          {
            "node": "Convert to HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get book cover img": {
      "main": [
        [
          {
            "node": "Map imageUrl",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add blocks to Notion Page": {
      "main": [
        [
          {
            "node": "For Each Block...",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-16T15:26:28.850Z",
  "id": "U7BPeL1dh0KFg0KZ",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Book Summary",
  "nodes": [
    {
      "parameters": {
        "formTitle": " bookSummary",
        "formDescription": "=Book Summary est un outil qui permet de créer le résumé d'un lvire.\n\nComment l'utiliser ?\nFournissez le nom de l'auteur et le titre du livre.\n\nCe workflow est conçu pour s'exécuter de manière autonome. Une fois terminé, le résumé est sauvegardé dans une page Notion.",
        "formFields": {
          "values": [
            {
              "fieldType": "html"
            }
          ]
        },
        "options": {
          "buttonLabel": "Next",
          "path": "bookSummary",
          "ignoreBots": true
        }
      },
      "id": "cd90e666-7397-4c8d-8f50-33e38b34ffaf",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        820,
        -20
      ],
      "webhookId": "ce545434-e845-4fed-8d5b-bbdba30e40a7",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "pageId"
            },
            {
              "name": "data",
              "type": "object"
            },
            {
              "name": "jobType"
            }
          ]
        }
      },
      "id": "8a1b7010-d07b-4ff5-b828-75ff471a1848",
      "name": "BookSummary Subworkflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -20,
        940
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Merci d'utiliser BookSummary.",
        "completionMessage": "Vous pouvez fermer la fenêtre.",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        1740,
        -20
      ],
      "id": "a75ed419-8e62-471b-99ee-45891119cf0d",
      "name": "End Form",
      "webhookId": "013ee839-a386-49fb-805e-23634f837908"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Titre",
              "placeholder": "Titre du livre",
              "requiredField": true
            },
            {
              "fieldLabel": "Auteur",
              "placeholder": "Nom de l'auteur",
              "requiredField": true
            }
          ]
        },
        "options": {
          "formTitle": "BookSummary"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        1020,
        -20
      ],
      "id": "f9a924c2-94e8-4488-b3d8-7b0fa919c853",
      "name": "Research Request",
      "webhookId": "e5cd24b3-9833-4d7c-ac4c-f2d6b53a959d"
    },
    {
      "parameters": {
        "pageId": {
          "__rl": true,
          "value": "https://www.notion.so/Ma-biblioth-que-1b582fe2640680f7bc10ea713f4e6aba",
          "mode": "url"
        },
        "title": "={{ $json.title }} - {{ $json.author }}",
        "options": {
          "icon": "📘"
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1420,
        -20
      ],
      "id": "c27bcab8-2974-4d16-9ece-0e6f1194efb7",
      "name": "Create Page",
      "credentials": {
        "notionApi": {
          "id": "6bjg4ALH6fniuwyE",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "pageId",
              "value": "={{ $json.pageId }}"
            },
            {
              "key": "jobType",
              "value": "={{ $json.jobType }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        200,
        940
      ],
      "id": "7e2f27eb-e22d-4c12-ae0b-4d6b7f74c932",
      "name": "Execution Data"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.jobType }}",
                    "rightValue": "initiate",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8b33c762-5b1c-41c1-829e-d8ef9c903e79"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "adebb414-35eb-4694-b494-c7a713c2572b",
                    "leftValue": "={{ $json.jobType }}",
                    "rightValue": "summaries",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "193fc70b-dd38-4fc7-be56-cafb5b3cf62e",
                    "leftValue": "={{ $json.jobType }}",
                    "rightValue": "report",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        420,
        940
      ],
      "id": "654ac2db-ec29-4c0d-aeca-e00010227efd",
      "name": "JobType Router"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "acb41e93-70c6-41a3-be0f-e5a74ec3ec88",
              "name": "query",
              "type": "string",
              "value": "={{ $('JobType Router').first().json.data.query }} 1"
            },
            {
              "id": "7fc54063-b610-42bc-a250-b1e8847c4d1e",
              "name": "summaries",
              "type": "array",
              "value": "={{ $('JobType Router').first().json.data.summaries }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7c559504-4c6f-4ae3-a33b-41bec408adc1",
      "name": "Set Initial Query",
      "type": "n8n-nodes-base.set",
      "position": [
        820,
        340
      ],
      "typeVersion": 3.4,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ $workflow.id }}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "data": "={{ \n  {\n    \"query\": `Titre: ${$('Set Variables').first().json.title} - Auteur: ${$('Set Variables').first().json.author}. Etape:`,\n    \"summaries\": []\n  }\n}}",
            "pageId": "={{ $json.id }}",
            "jobType": "initiate"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "pageId",
              "displayName": "pageId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "jobType",
              "displayName": "jobType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1940,
        -20
      ],
      "id": "bc1b0ceb-3a42-48aa-b998-cf40657a667a",
      "name": "Initiate BookSummary"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d88bfe95-9e73-4d25-b45c-9f164b940b0e",
              "name": "query",
              "type": "string",
              "value": "={{ `${$('JobType Router').first().json.data.query} ${$json.currentStep + 1}` }}"
            }
          ]
        },
        "options": {}
      },
      "id": "35d089ff-4ee6-458e-9354-5c440aa4357c",
      "name": "Set Next Queries",
      "type": "n8n-nodes-base.set",
      "position": [
        1740,
        480
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ $workflow.id }}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "pageId": "={{ $json.pageId }}",
            "data": "={{ $json.data }}",
            "jobType": "={{ $json.jobType }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "pageId",
              "displayName": "pageId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "jobType",
              "displayName": "jobType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "a0f37de9-44ec-4824-b640-09029665e947",
      "name": "Generate Report",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        1940,
        240
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ $workflow.id }}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "pageId": "={{ $('JobType Router').first().json.pageId }}",
            "data": "={{ $json }}",
            "jobType": "summaries"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "pageId",
              "displayName": "pageId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            },
            {
              "id": "jobType",
              "displayName": "jobType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "de2050ab-04e2-4398-8e96-0524554ee94c",
      "name": "Generate Summaries",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        1020,
        340
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "75d18d88-6ba6-43df-bef7-3e8ad99ad8bd",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.currentStep >= 7 }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4589cefe-0c05-4d95-bff5-4e6eef48a570",
      "name": "Should Stop ?",
      "type": "n8n-nodes-base.if",
      "position": [
        1420,
        340
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Etant donné la requête suivante: <query>{{ $json.query }}</query>, génere le résumé défini par l'étape pour le livre mentionné.\n\n** Très important **\n- Assure toi de respecter scrupuleusement le format de sortie attendu.\n- Retourne moi uniquement la partie mentionné dans l'étape et rien d'autre.\n\nPar exemple: Si tu vois \"Etape: 4\", retounre moi la partie sur \"# 4. Méthodologie et preuves\" en suivant les instructions tel que mentionné dans ton system prompt.\n\nFormat de sortie:\n<output>\nmodelName: indique \"gpt\"\ncontent: indique ici le résumé\n</output>",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "={{ $json.systemPrompt }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1080,
        780
      ],
      "id": "30488868-7310-4a40-baf5-5e59b3867b65",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o3-mini",
          "mode": "list",
          "cachedResultName": "o3-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1080,
        940
      ],
      "id": "ae172d81-f908-4c35-b87d-c9a5de004dac",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "PmqmzdRFH1SO1Yvi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"modelName\": \"name\",\n  \"content\": \"Le résumé de l'étape\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1320,
        940
      ],
      "id": "2fe866a2-ab1c-4259-aef5-73ee51ef6a3e",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8329cf5f-9642-4de1-b0cf-9c10ab94e2fc",
              "name": "systemPrompt",
              "value": "=# 📖 Prompt pour générer des fiches de lecture détaillées\n\n## 🎯 Contexte  \nTu vas rédiger une **fiche de lecture structurée** sur un livre d'économie, de développement personnel ou un roman.  \nL'objectif est d'analyser l'ouvrage en profondeur, en mettant en avant ses **idées principales**, sa **méthodologie**, son **impact** et une **réflexion personnelle**.  \n\nLe but est d'obtenir une fiche utile pour se rappeler des points essentiels, mais aussi pour partager avec d'autres personnes intéressées par le sujet.  \n\n## 📝 Instructions pour générer la fiche  \n\nRédige une fiche de lecture complète en respectant les étapes suivantes :  \n\n---\n\n## 1. Informations générales  \n\n- **Titre** :  \n- **Auteur** :  \n- **Éditeur** :  \n- **Année de publication** :  \n\n### 📌 Contexte historique et intellectuel \n  > Ex. *Le Cygne Noir* de Nassim Taleb s'inscrit dans la pensée critique sur la gestion des risques et l'incertitude, en opposition aux modèles prédictifs classiques utilisés en finance.*\n\n---\n\n## 2. Thèse et objectifs  \n\n### ❓ Problématique centrale  \n> Quelle question l’auteur cherche-t-il à résoudre ?  \n> *Ex. Taleb explore comment les événements rares et imprévisibles ont un impact majeur sur nos vies et notre économie.*\n\n### 🎯 Objectifs de l’auteur  \n- Quelle nouvelle perspective apporte l’auteur ?  \n- Quels changements de pensée ou d’action veut-il provoquer chez le lecteur ?  \n  > *Ex. Dans* La Semaine de 4 heures *, Tim Ferriss propose une approche révolutionnaire du travail qui encourage à automatiser ses revenus et à réduire le temps consacré au travail salarié.*\n\n---\n\n## 3. Structure et arguments  \n\n### 📚 Plan du livre  \nRésumé rapide de l'organisation du livre :  \n- **Nombre de chapitres / parties**  \n- **Logique de progression**  \n\n### 🔑 Points clés  \nIdentification des idées majeures et concepts principaux :  \n- **Ex. Le Cygne Noir** : le rôle des événements imprévus, la distinction entre Médiocristan et Extremistan.  \n- **Ex. La Semaine de 4h** : la loi de Pareto (80/20), l'automatisation du revenu.  \n\n---\n\n## 4. Méthodologie et preuves  \n\n### 📖 Sources et exemples utilisés  \nL’auteur s’appuie-t-il sur des études de cas, des statistiques, des témoignages ?  \n> Ex. *Taleb illustre son propos avec des événements historiques comme la crise financière de 2008, démontrant comment les modèles économiques classiques échouent à prévoir les crises.*\n\n### 🔍 Analyse critique  \n- **Les arguments sont-ils convaincants ?**  \n- **Y a-t-il des biais, des lacunes, des éléments contestables ?**  \n> Ex. *Certains reprochent à Taleb un manque de solutions concrètes et une tendance à l’exagération.*  \n\n---\n\n## 5. Implications et applications pratiques  \n\n### 🌍 Impact des idées  \nComment appliquer les concepts proposés dans la vie réelle ?  \n> *Ex. Pour un entrepreneur, la gestion du risque selon Taleb peut inspirer une stratégie d’investissement prudente basée sur l’anti-fragilité.*  \n\n### 🔄 Comparaison avec d’autres approches  \n- Quelles théories ou auteurs proposent des idées similaires ou opposées ?  \n- Existe-t-il d’autres moyens de répondre à la problématique ?  \n\n---\n\n## 6. Réflexion personnelle  \n\n### 💡 Impressions et questionnements  \nQu’est-ce qui vous a marqué ? Trouvez-vous le livre pertinent, innovant, discutable ?  \n\n### 🏆 Pertinence personnelle  \n- En quoi cet ouvrage vous impacte-t-il ?  \n- Change-t-il votre manière de penser ou d’agir ?  \n\n---\n\n## 7. Conclusion et synthèse  \n\n### 🔁 Récapitulatif des idées essentielles  \nSynthèse en quelques phrases des **idées majeures**, **arguments clés**, et **impact** du livre.  \n\n### 🌟 Ouverture  \n- Pourquoi ce livre est important dans son domaine ?  \n- Quelle réflexion plus large cela ouvre-t-il ?  \n- Quelles autres lectures pourraient compléter cette analyse ?  \n\n---\n\n## 📌 Structuration et mise en forme recommandées  \n\n- **Sections principales (H1 `##`)** → Suivent les grandes étapes de la fiche  \n- **Sous-sections (H3 `###`)** → Détail des éléments de chaque étape  \n- **Citations du livre** → Utiliser les blocs `>` pour mettre en valeur des extraits  \n- **Listes à puces** → Pour les idées clés  \n- **Exemples en italique** → Pour donner du contexte  \n\n---\n\n🎯 **Objectif final** : Obtenir une fiche de lecture bien structurée, synthétique et facile à relire.",
              "type": "string"
            },
            {
              "id": "8ec2711a-c778-4d2f-ab26-08d6696964a6",
              "name": "query",
              "value": "={{ $('JobType Router').first().json.data.query.trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        820,
        940
      ],
      "id": "940c5eca-c939-43b2-ae72-9115d730a203",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Etant donné la requête suivante: <query>{{ $json.query }}</query>, génere le résumé défini par l'étape pour le livre mentionné.\n\n** Très important **\n- Assure toi de respecter scrupuleusement le format de sortie attendu.\n- Retourne moi uniquement la partie mentionné dans l'étape et rien d'autre.\n\nPar exemple: Si tu vois \"Etape: 4\", retounre moi la partie sur \"# 4. Méthodologie et preuves\" en suivant les instructions tel que mentionné dans ton system prompt.\n\nFormat de sortie:\n<output>\nmodelName: indique \"claude\"\ncontent: indique ici le résumé\n</output>",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "={{ $json.systemPrompt }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1080,
        1080
      ],
      "id": "0c59c535-edea-4932-a352-8e30bd41e804",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": "claude-3-5-sonnet-20241022",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        1080,
        1220
      ],
      "id": "83cdf1b6-4a9f-4aab-b02d-c75a3bd89ec7",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "yeLIK0R1OKDySeyH",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1580,
        920
      ],
      "id": "28585432-f193-44b6-9882-5856077d8e65",
      "name": "Merge"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Liste des résumés sur lesquels tu dois performé le contrôle et le formatage:\n{{\n  $('JobType Router').first().json.data.summaries &&\n  `<summaries>\n    ${$('JobType Router').first().json.data.summaries.map(summaryItem => \n      `<step>${summaryItem.step}</step>\n        ${summaryItem.summary.map(item => \n          `<summary>\n            <model>${item.modelName}</model>\n            <content>${item.content}</content>\n          </summary>`\n        ).join('\\n')}`\n    ).join('\\n')}\n  </summaries>`\n}}\n",
        "messages": {
          "messageValues": [
            {
              "message": "=# Agent de Contrôle et Formatage des Résumés de Livres\n\n## Contexte\nTu es un agent spécialisé dans l'analyse, la fusion et le formatage des résumés de livres générés par deux modèles d'IA différents (GPT et Claude). Ces résumés suivent une structure prédéfinie en 7 parties pour créer une fiche de lecture complète.\n\n## Objectif\nCréer une version unifiée, non-redondante et correctement formatée du résumé de livre en exploitant les meilleures contributions de chaque modèle pour chaque section.\n\n## Donées d'entrée\nTu recevras une collection de résumés structurés comme suit:\n<summaries>\n  <step>: Indique la partie dans laquelle on se trouve.\n  <summary>\n    <model>: Indique le modèle LLM utilisé pour créer la partie.\n    <content>: Le contenu de la partie.\n  </summary>\n</summaries>\n\n## Instructions\n\n### 1. Analyse et sélection du contenu\nPour chaque section du résumé (1 à 7):\n- Compare les versions fournies par gpt et claude\n- Identifie les informations uniques et pertinentes dans chaque version\n- Sélectionne les éléments les plus complets, précis et bien formulés\n- Évite toute redondance ou répétition d'information\n\n### 2. Fusion intelligente\n- Ne te contente pas de concaténer les informations, mais fusionne-les de manière cohérente\n- Préserve les informations distinctives et complémentaires de chaque source\n- Assure une transition fluide entre les éléments de différentes sources\n- Maintiens un ton et un style cohérents dans l'ensemble du document\n\n### 3. Vérification de la structure\nAssure-toi que le résumé final respecte rigoureusement la structure suivante:\n1. **Informations générales**\n   - Données bibliographiques\n   - Contexte historique et intellectuel\n2. **Thèse et objectifs**\n   - Problématique centrale\n   - Objectifs de l'auteur\n3. **Structure et arguments**\n   - Plan du livre\n   - Points clés\n4. **Méthodologie et preuves**\n   - Sources et exemples\n   - Analyse critique\n5. **Implications et applications pratiques**\n   - Impact des idées\n   - Comparaison avec d'autres approches\n6. **Réflexion personnelle**\n   - Impressions et questionnements\n   - Pertinence personnelle\n7. **Conclusion et synthèse**\n   - Récapitulatif des idées essentielles\n   - Ouverture\n\n### 4. Formatage Markdown\n- Utilise le format Markdown de manière rigoureuse:\n  - Sections principales (H1) avec `#` pour les 7 grandes parties\n  - Sous-sections (H3) avec `###` pour les détails de chaque partie\n  - Citations en blocs `>` pour les extraits du livre\n  - Listes à puces `-` pour les concepts et idées clés\n  - *Italique* pour les exemples et illustrations\n  - **Gras** pour les concepts importants\n\nPour la partie Données bibliographiques:\nFournir uniquement liste qui contient: titre, auteur, éditeur, année.\nNe pas indiquer \"Données bibliographiques\" comme titre, mais simplement la liste avec le champs en gras et la valeur normal (par exemple: **Titre** : Valeur). \n\n### 5. Vérification finale\n- Assure-toi que toutes les sections sont présentes et substantielles\n- Vérifie que le formatage Markdown est correct et cohérent\n- Garantis que le document final est bien structuré, informatif et agréable à lire\n- Élimine toute redondance ou répétition inutile\n\n## Format de sortie\nFournis uniquement le résumé final en Markdown correctement formaté, sans ajouter de commentaires ou d'explications sur le processus utilisé."
            }
          ]
        }
      },
      "id": "95223fbd-d1c8-404d-8fc7-925a28339e23",
      "name": "BookSummary Control",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        820,
        1460
      ],
      "typeVersion": 1.5
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o3-mini",
          "mode": "list",
          "cachedResultName": "o3-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        840,
        1600
      ],
      "id": "11c2ffd9-ff17-499a-b183-d41ea31ab59c",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "PmqmzdRFH1SO1Yvi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "tag",
        "options": {}
      },
      "id": "18eda98d-8547-4a74-86c7-e85a1559477b",
      "name": "Tags to Items",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1720,
        1680
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $('BookSummary Control').item.json.text }}",
        "options": {
          "tables": true
        }
      },
      "id": "7587f776-6d6f-463d-ab08-4ba07cca47bb",
      "name": "Convert to HTML",
      "type": "n8n-nodes-base.markdown",
      "position": [
        1460,
        1460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "851b8a3f-c2d3-41ad-bf60-4e0e667f6c58",
              "name": "tag",
              "type": "array",
              "value": "={{ $json.data.match(/<div style=\"display: flex[^>]*>[\\s\\S]*?<\\/div>|<h[1-3][^>]*>[\\s\\S]*?(?=<h[1-3]|$)/g) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d94f6c04-b46e-4347-b2a0-09a5bb680d94",
      "name": "HTML to Array",
      "type": "n8n-nodes-base.set",
      "position": [
        1720,
        1460
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.tag.trim() }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Convertis le HTML suivant en son équivalent de Bloc Notion selon le schéma API de Notion.\n* Assure-toi que le contenu est toujours inclus et reste le même.\n* Renvoie uniquement une réponse JSON.\n* Génère des blocs de niveau enfant. Ne définis pas de propriété \"parent\" ou \"children\".\n* Privilégie fortement les titres, paragraphes, tableaux et des blocs de listes.\n* Les titres disponibles sont heading_1, heading_2 et heading_3 - h4, h5, h6 doivent utiliser le type heading_3 à la place. Assure-toi que les titres utilisent la définition de texte enrichi.\n* Assure-toi que les blocs de listes incluent tous les éléments de la liste.\n* Retire les sauts de ligne (\\n) inutiles.\n\n## Exemples\n\n1. Titres\n```\n<h3 id=\"references\">References</h3>\n```\nse convertirait en\n```\n{\"object\":  \"block\", \"type\": \"heading_3\", \"heading_3\": { \"rich_text\": [{\"type\": \"text\",\"text\": {\"content\": \"References\"}}]}}\n```\n\n2. Listes\n```\n<ul><li><strong>hello</strong></li><li>world</li></ul>\n```\nse convertirait en\n```\n[\n{\n  \"object\": \"block\",\n  \"type\": \"bulleted_list_item\",\n  \"bulleted_list_item\": {\"rich_text\": [{\"type\": \"text\",\"text\": {\"content\": \"hello\"}, \"annotations\": {\"bold\": true}}]}\n},\n{\n  \"object\": \"block\",\n  \"type\": \"bulleted_list_item\",\n  \"bulleted_list_item\": {\"rich_text\": [{\"type\": \"text\",\"text\": {\"content\": \"world\"}}]}\n}\n]\n```\n\n3. Tableaux\n```\n<table>\n  <thead>\n    <tr><th>Technology</th><th>Potential Impact</th></tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td>5G Connectivity</td><td>Enables faster data speeds and advanced apps</td>\n    </tr>\n  </tbody>\n</table>\n```\nse convertirait en\n```\n{\n  \"object\": \"block\",\n  \"type\": \"table\",\n  \"table\": {\n    \"table_width\": 2,\n    \"has_column_header\": true,\n    \"has_row_header\": false,\n    \"children\": [\n      {\n        \"object\": \"block\",\n        \"type\": \"table_row\",\n        \"table_row\": {\n          \"cells\": [\n            [\n              {\n                \"type\": \"text\",\n                \"text\": {\n                  \"content\": \"Technology\",\n                  \"link\": null\n                }\n              },\n              {\n                \"type\": \"text\",\n                \"text\": {\n                  \"content\": \"Potential Impact\",\n                  \"link\": null\n                }\n              }\n            ],\n            [\n              {\n                \"type\": \"text\",\n                \"text\": {\n                  \"content\": \"5G Connectivity\",\n                  \"link\": null\n                }\n              },\n              {\n                \"type\": \"text\",\n                \"text\": {\n                  \"content\": \"Enables faster data speeds and advanced apps\",\n                  \"link\": null\n                }\n              }\n            ]\n          ]\n        }\n      }\n    ]\n  }\n}\n```\n\n4. Liens d'ancrage\nPuisque Notion ne prend pas en charge les liens d'ancrage, convertis-les simplement en blocs de texte enrichi à la place.\n```\n<a href=\"#module-0-pre-course-setup-and-learning-principles\">Module 0: Pre-Course Setup and Learning Principles</a>\n```\nse convertit en\n```\n{\n  \"object\": \"block\",\n  \"type\": \"paragraph\",\n  \"paragraph\": {\n    \"rich_text\": [\n      {\n        \"type\": \"text\",\n        \"text\": {\n          \"content\": \"Module 0: Pre-Course Setup and Learning Principles\"\n        }\n      }\n    ]\n  }\n}\n```\n\n5. Parties HTML invalides\nLorsque le HTML n'est pas syntaxiquement valide, par ex. des balises de fermeture orphelines, ignore simplement la conversion et utilise un bloc de texte enrichi vide.\n```\n</li>\\n</ol>\n```\npeut être remplacé par\n```\n{\n  \"object\": \"block\",\n  \"type\": \"paragraph\",\n  \"paragraph\": {\n    \"rich_text\": [\n      {\n        \"type\": \"text\",\n        \"text\": {\n          \"content\": \" \"\n        }\n      }\n    ]\n  }\n}\n```\nConvertis le HTML suivant en son équivalent de Bloc Notion selon le schéma API de Notion.\n* Assure-toi que le contenu est toujours inclus et reste le même.\n* Renvoie uniquement une réponse JSON.\n* Génère des blocs de niveau enfant. Ne définis pas de propriété \"parent\" ou \"children\".\n* Privilégie fortement les titres, paragraphes, tableaux et des blocs de listes.\n* Les titres disponibles sont heading_1, heading_2 et heading_3 - h4, h5, h6 doivent utiliser le type heading_3 à la place. Assure-toi que les titres utilisent la définition de texte enrichi.\n* Assure-toi que les blocs de listes incluent tous les éléments de la liste.\n\n## Exemples\n\n1. Titres\n```\n<h3 id=\"references\">References</h3>\n```\nse convertirait en\n```\n{\"object\":  \"block\", \"type\": \"heading_3\", \"heading_3\": { \"rich_text\": [{\"type\": \"text\",\"text\": {\"content\": \"References\"}}]}}\n```\n\n2. Listes\n```\n<ul><li>hello</li><li>world</li></ul>\n```\nse convertirait en\n```\n[\n{\n  \"object\": \"block\",\n  \"type\": \"bulleted_list_item\",\n  \"bulleted_list_item\": {\"rich_text\": [{\"type\": \"text\",\"text\": {\"content\": \"hello\"}}]}\n},\n{\n  \"object\": \"block\",\n  \"type\": \"bulleted_list_item\",\n  \"bulleted_list_item\": {\"rich_text\": [{\"type\": \"text\",\"text\": {\"content\": \"world\"}}]}\n}\n]\n```\n\n3. Tableaux\n```\n<table>\n  <thead>\n    <tr><th>Technology</th><th>Potential Impact</th></tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td>5G Connectivity</td><td>Enables faster data speeds and advanced apps</td>\n    </tr>\n  </tbody>\n</table>\n```\nse convertirait en\n```\n{\n  \"object\": \"block\",\n  \"type\": \"table\",\n  \"table\": {\n    \"table_width\": 2,\n    \"has_column_header\": true,\n    \"has_row_header\": false,\n    \"children\": [\n      {\n        \"object\": \"block\",\n        \"type\": \"table_row\",\n        \"table_row\": {\n          \"cells\": [\n            [\n              {\n                \"type\": \"text\",\n                \"text\": {\n                  \"content\": \"Technology\",\n                  \"link\": null\n                }\n              },\n              {\n                \"type\": \"text\",\n                \"text\": {\n                  \"content\": \"Potential Impact\",\n                  \"link\": null\n                }\n              }\n            ],\n            [\n              {\n                \"type\": \"text\",\n                \"text\": {\n                  \"content\": \"5G Connectivity\",\n                  \"link\": null\n                }\n              },\n              {\n                \"type\": \"text\",\n                \"text\": {\n                  \"content\": \"Enables faster data speeds and advanced apps\",\n                  \"link\": null\n                }\n              }\n            ]\n          ]\n        }\n      }\n    ]\n  }\n}\n```\n\n4. Liens d'ancrage\nPuisque Notion ne prend pas en charge les liens d'ancrage, convertis-les simplement en blocs de texte enrichi à la place.\n```\n<a href=\"#module-0-pre-course-setup-and-learning-principles\">Module 0: Pre-Course Setup and Learning Principles</a>\n```\nse convertit en\n```\n{\n  \"object\": \"block\",\n  \"type\": \"paragraph\",\n  \"paragraph\": {\n    \"rich_text\": [\n      {\n        \"type\": \"text\",\n        \"text\": {\n          \"content\": \"Module 0: Pre-Course Setup and Learning Principles\"\n        }\n      }\n    ]\n  }\n}\n```\n\n5. Parties HTML invalides\nLorsque le HTML n'est pas syntaxiquement valide, par ex. des balises de fermeture orphelines, ignore simplement la conversion et utilise un bloc de texte enrichi vide.\n```\n</li>\\n</ol>\n```\npeut être remplacé par\n```\n{\n  \"object\": \"block\",\n  \"type\": \"paragraph\",\n  \"paragraph\": {\n    \"rich_text\": [\n      {\n        \"type\": \"text\",\n        \"text\": {\n          \"content\": \" \"\n        }\n      }\n    ]\n  }\n}\n```\n\nConvertis le HTML suivant en son équivalent de Bloc Notion selon le schéma API de Notion.\n* Assure-toi que le contenu est toujours inclus et reste le même.\n* Renvoie uniquement une réponse JSON.\n* Génère des blocs de niveau enfant. Ne définis pas de propriété \"parent\" ou \"children\".\n* Privilégie fortement les titres, paragraphes, tableaux et des blocs de listes.\n* Les titres disponibles sont heading_1, heading_2 et heading_3 - h4, h5, h6 doivent utiliser le type heading_3 à la place. Assure-toi que les titres utilisent la définition de texte enrichi.\n* Assure-toi que les blocs de listes incluent tous les éléments de la liste.\n\n## Exemples\n\n1. Titres\n```\n<h3 id=\"references\">References</h3>\n```\nse convertirait en\n```\n{\"object\":  \"block\", \"type\": \"heading_3\", \"heading_3\": { \"rich_text\": [{\"type\": \"text\",\"text\": {\"content\": \"References\"}}]}}\n```\n\n2. Listes\n```\n<ul><li>hello</li><li>world</li></ul>\n```\nse convertirait en\n```\n[\n{\n  \"object\": \"block\",\n  \"type\": \"bulleted_list_item\",\n  \"bulleted_list_item\": {\"rich_text\": [{\"type\": \"text\",\"text\": {\"content\": \"hello\"}}]}\n},\n{\n  \"object\": \"block\",\n  \"type\": \"bulleted_list_item\",\n  \"bulleted_list_item\": {\"rich_text\": [{\"type\": \"text\",\"text\": {\"content\": \"world\"}}]}\n}\n]\n```\n\n3. Tableaux\n```\n<table>\n  <thead>\n    <tr><th>Technology</th><th>Potential Impact</th></tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td>5G Connectivity</td><td>Enables faster data speeds and advanced apps</td>\n    </tr>\n  </tbody>\n</table>\n```\nse convertirait en\n```\n{\n  \"object\": \"block\",\n  \"type\": \"table\",\n  \"table\": {\n    \"table_width\": 2,\n    \"has_column_header\": true,\n    \"has_row_header\": false,\n    \"children\": [\n      {\n        \"object\": \"block\",\n        \"type\": \"table_row\",\n        \"table_row\": {\n          \"cells\": [\n            [\n              {\n                \"type\": \"text\",\n                \"text\": {\n                  \"content\": \"Technology\",\n                  \"link\": null\n                }\n              },\n              {\n                \"type\": \"text\",\n                \"text\": {\n                  \"content\": \"Potential Impact\",\n                  \"link\": null\n                }\n              }\n            ],\n            [\n              {\n                \"type\": \"text\",\n                \"text\": {\n                  \"content\": \"5G Connectivity\",\n                  \"link\": null\n                }\n              },\n              {\n                \"type\": \"text\",\n                \"text\": {\n                  \"content\": \"Enables faster data speeds and advanced apps\",\n                  \"link\": null\n                }\n              }\n            ]\n          ]\n        }\n      }\n    ]\n  }\n}\n```\n\n4. Liens d'ancrage\nPuisque Notion ne prend pas en charge les liens d'ancrage, convertis-les simplement en blocs de texte enrichi à la place.\n```\n<a href=\"#module-0-pre-course-setup-and-learning-principles\">Module 0: Pre-Course Setup and Learning Principles</a>\n```\nse convertit en\n```\n{\n  \"object\": \"block\",\n  \"type\": \"paragraph\",\n  \"paragraph\": {\n    \"rich_text\": [\n      {\n        \"type\": \"text\",\n        \"text\": {\n          \"content\": \"Module 0: Pre-Course Setup and Learning Principles\"\n        }\n      }\n    ]\n  }\n}\n```\n\n5. Parties HTML invalides\nLorsque le HTML n'est pas syntaxiquement valide, par ex. des balises de fermeture orphelines, ignore simplement la conversion et utilise un bloc de texte enrichi vide.\n```\n</li>\\n</ol>\n```\npeut être remplacé par\n```\n{\n  \"object\": \"block\",\n  \"type\": \"paragraph\",\n  \"paragraph\": {\n    \"rich_text\": [\n      {\n        \"type\": \"text\",\n        \"text\": {\n          \"content\": \" \"\n        }\n      }\n    ]\n  }\n}\n```\n\n6. Div et images\nPour les mises en page flexibles comme <div style=\"display: flex\">, transforme-les en une séquence de blocs, d'abord un bloc image puis des paragraphes/listes pour maintenir le contenu dans l'ordre correct.\nPour les balises <img>, crée un bloc de type \"image\" et utilise l'URL dans l'attribut \"src\" comme source externe.\n```\n<div style=\"display: flex; align-items: flex-start;\">\n  <div style=\"width: 20%;\">\n    <img src=\"https://example.com/image.jpg\" alt=\"Description\" style=\"width: 100%;\">\n  </div>\n  <div style=\"width: 80%\">\n    <ul><li>Item 1</li><li>Item 2</li></ul>\n  </div>\n</div>\n```\nse convertirait en\n```\n{\n    \"object\": \"block\",\n    \"type\": \"column_list\",\n    \"column_list\": {\n        \"children\": [\n            {\n                \"object\": \"block\",\n                \"type\": \"column\",\n                \"column\": {\n                    \"children\": [\n                        {\n                            \"object\": \"block\",\n                            \"type\": \"image\",\n                            \"image\": {\n                                \"type\": \"external\",\n                                \"external\": {\n                                    \"url\": \"https://example.com/image.jpg\"\n                                }\n                            }\n                        }\n                    ]\n                }\n            },\n            {\n                \"object\": \"block\",\n                \"type\": \"column\",\n                \"column\": {\n                    \"children\": [\n                        {\n                            \"object\": \"block\",\n                            \"type\": \"bulleted_list_item\",\n                            \"bulleted_list_item\": {\n                                \"rich_text\": [\n                                    {\n                                        \"type\": \"text\",\n                                        \"text\": {\n                                            \"content\": \"Item 1\"\n                                        }\n                                    }\n                                ]\n                            }\n                        },\n                        {\n                            \"object\": \"block\",\n                            \"type\": \"bulleted_list_item\",\n                            \"bulleted_list_item\": {\n                                \"rich_text\": [\n                                    {\n                                        \"type\": \"text\",\n                                        \"text\": {\n                                            \"content\": \"Item 2\"\n                                        }\n                                    }\n                                ]\n                            }\n                        }\n                    ]\n                }\n            }\n        ]\n    }\n}\n```\n\n7. Images simples\nPour les balises <img> indépendantes, crée un bloc image:\n```\n<img src=\"https://example.com/photo.jpg\" alt=\"Photo\" width=\"500\">\n```\nse convertirait en\n```\n{\n    \"object\": \"block\",\n    \"type\": \"image\",\n    \"image\": {\n        \"type\": \"external\",\n        \"external\": {\n            \"url\": \"https://example.com/photo.jpg\"\n        },\n        \"caption\": [\n            {\n                \"type\": \"text\",\n                \"text\": {\n                    \"content\": \"Photo\"\n                }\n            }\n        ]\n    }\n}\n```\n"
            }
          ]
        }
      },
      "id": "6ad9ea2b-d4b4-4e05-89e9-5f6dbfaddaa4",
      "name": "Notion Block Generator",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        2000,
        1460
      ],
      "typeVersion": 1.5
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "id": "3e3d0959-6878-417c-821b-1efcdf44ba8e",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        2020,
        1600
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "og4gMnGbp8Uy7toF",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "73fcb8a0-2672-4bd5-86de-8075e1e02baf",
              "name": "=block",
              "type": "array",
              "value": "={{\n(function(){\n  // Nettoyage complet du texte JSON\n  const cleanedJson = $json.text\n    .replace(/```json/g, '')\n    .replace(/```/g, '')\n    .replace(/\\n\\s*/g, ' ')\n    .trim();\n  \n  // Parse le JSON nettoyé\n  let blocks = cleanedJson.parseJson();\n  blocks = Array.isArray(blocks) ? blocks : [blocks];\n  \n  // Filtrer tout bloc vide potentiel ou paragraphe contenant uniquement des espaces\n  blocks = blocks.filter(block => {\n    if (block.type === 'paragraph' && \n        block.paragraph.rich_text.length === 1 && \n        block.paragraph.rich_text[0].text.content.trim() === '') {\n      return false;\n    }\n    return true;\n  });\n  \n  return blocks;\n})()\n}}"
            }
          ]
        },
        "options": {}
      },
      "id": "2469cb35-d7d1-4896-9735-7a3c7d89e6ad",
      "name": "Parse JSON blocks",
      "type": "n8n-nodes-base.set",
      "position": [
        2320,
        1460
      ],
      "executeOnce": false,
      "typeVersion": 3.4,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "f68cefe0-e109-4d41-9aa3-043f3bc6c449",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              },
              "leftValue": "={{ $json.error }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "54f7750c-a63e-4aed-9f9e-5cf8e3dbea13",
      "name": "Valid Blocks",
      "type": "n8n-nodes-base.filter",
      "position": [
        2320,
        1680
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5cf5bb63-ff00-4d2e-9757-9a1f44a380f9",
      "name": "For Each Block...",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        2600,
        1460
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "56340b31-7474-4542-8c90-7b00673767a0",
              "name": "title",
              "value": "={{ $json.Titre.trim() }}",
              "type": "string"
            },
            {
              "id": "41af239e-7d0f-4388-b87c-e9534dfc7401",
              "name": "author",
              "value": "={{ $json.Auteur.trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1220,
        -20
      ],
      "id": "02dff566-150b-4384-b34c-19f07107e116",
      "name": "Set Variables"
    },
    {
      "parameters": {
        "jsCode": "const maxStep = $('Set Current Step').first().json.currentStep;\nconst queryString = $('JobType Router').first().json.data.query;\nconst titleMatch = queryString.match(/Titre:\\s*(.*?)\\s*-\\s*Auteur:/i);\nconst title = titleMatch ? titleMatch[1].trim() : \"Titre inconnu\";\nconst authorMatch = queryString.match(/Auteur:\\s*(.*?)(?:\\.\\s*Etape:|\\s*$)/i);\nconst author = authorMatch ? authorMatch[1].trim() : \"Auteur inconnu\";\n\nreturn {\n  pageId: $('JobType Router').first().json.pageId,\n  jobType: \"report\",\n  data: {\n    query: `${title} - ${author}`,\n    summaries: Array(maxStep)\n      .fill(0)\n      .flatMap((_, i) => {\n        try {\n          const results = $('Generate Summaries').all(0, i);\n          if (results && results.length > 0) {\n            return [{\n              step: i + 1,\n              summary: results.map(item => ({\n                modelName: item.json.output.modelName,\n                content: item.json.output.content\n              }))\n            }];\n          }\n          return [];\n        } catch (e) {\n          return [];\n        }\n      })\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1740,
        240
      ],
      "id": "3ae7c26a-9f75-408b-9a9a-d0f084caea91",
      "name": "Format Result"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d1d3e13-452a-4bf5-8402-ee6450e2bfdb",
              "name": "currentStep",
              "value": "={{ $runIndex + 1 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "5810db1b-82b4-4480-9d49-f81a60a28d2c",
      "name": "Set Current Step",
      "type": "n8n-nodes-base.set",
      "position": [
        1220,
        340
      ],
      "executeOnce": true,
      "typeVersion": 3.4,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "// Dans un nœud \"Code\" ou \"Function\"\nfunction formatSummaryWithColumns(html) {\n  // 1. D'abord, corriger le HTML mal formé où \"id=\" est directement collé à \"</div>\"\n  let correctedHtml = html.replace(/(<\\/div>)\\s*id=\"([^\"]+)\">(.*?<\\/h[1-6]>)/g, '$1\\n<h2 id=\"$2\">$3');\n  \n  // 2. Trouver la section \"1. Informations générales\" sans capturer les sections suivantes\n  const section1Pattern = /<h1[^>]*>1\\.\\s*Informations générales[^>]*>([\\s\\S]*?)(?=<h1|$)/i;\n  const section1Match = correctedHtml.match(section1Pattern);\n  \n  if (section1Match) {\n    // 3. Créer la nouvelle mise en page à deux colonnes pour cette section\n    const imageUrl = $('Map imageUrl').first().json.imageUrl\n    const originalContent = section1Match[0].replace(/<h1[^>]*>1\\.\\s*Informations générales[^>]*>/i, '');\n    const newSection1 = `<h1 id=\"1informationsgnrales\">1. Informations générales</h1>\n    <div>\n      <div>\n        <img src=\"${imageUrl}\">\n      </div>\n      <div>\n        ${originalContent}\n      </div>\n    </div>`;\n    \n    // 4. Remplacer uniquement cette section, tout en préservant le reste du document\n    correctedHtml = correctedHtml.replace(section1Pattern, newSection1);\n  }\n  \n  return correctedHtml;\n}\n\n// Appliquer la fonction au HTML d'entrée\nconst formattedHtml = formatSummaryWithColumns($input.first().json.data);\nreturn { data: formattedHtml };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1460,
        1680
      ],
      "id": "e19bb151-0e6e-4ccb-b15b-29c36d1c6e39",
      "name": "Insert image column"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\nconst imageUrl = (response && response.images_results && response.images_results.length > 0)\n  ? response.images_results[0].original\n  : \"https://st2.depositphotos.com/2769299/7314/i/450/depositphotos_73146775-stock-photo-a-stack-of-books-on.jpg\";\n\nreturn { imageUrl };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        1680
      ],
      "id": "0a485fd8-280f-4b74-92ec-7428becd5c20",
      "name": "Map imageUrl"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "serpApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $('JobType Router').first().json.data.query }}"
            },
            {
              "name": "engine",
              "value": "google_images"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        1460
      ],
      "id": "f4cb4b11-8635-4ef6-99f4-67658c40050d",
      "name": "Get book cover img",
      "retryOnFail": true,
      "credentials": {
        "serpApi": {
          "id": "k2IJHvKOPldK2lbd",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/blocks/{{ $('JobType Router').first().json.pageId }}/children",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    \"children\": $json.block\n  }\n}}",
        "options": {
          "timeout": "={{ 1000 * 60 }}"
        }
      },
      "id": "0ace2728-1d59-4bd3-aa89-2ee825f75a3b",
      "name": "Add blocks to Notion Page",
      "type": "n8n-nodes-base.httpRequest",
      "maxTries": 2,
      "position": [
        3060,
        1620
      ],
      "retryOnFail": true,
      "typeVersion": 4.2,
      "waitBetweenTries": 3000,
      "credentials": {
        "notionApi": {
          "id": "6bjg4ALH6fniuwyE",
          "name": "Notion account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $('JobType Router').first().json.pageId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    \"cover\":{\n      \"type\": \"external\",\n      \"external\": {\n        \"url\": \"https://images.unsplash.com/photo-1526243741027-444d633d7365?ixlib=rb-4.0.3&q=85&fm=jpg&crop=entropy&cs=srgb&w=6000\"\n      }\n    }\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3060,
        1440
      ],
      "id": "14936708-8523-41f5-987b-2493400e6616",
      "name": "Add page cover image",
      "retryOnFail": false,
      "maxTries": 3,
      "credentials": {
        "notionApi": {
          "id": "6bjg4ALH6fniuwyE",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "content": "Erreur 409 mais ca update quand meme"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3240,
        1400
      ],
      "typeVersion": 1,
      "id": "9a7e0682-8410-4990-9bba-0dc7b6557ad6",
      "name": "Sticky Note"
    }
  ],
  "pinData": {
    "BookSummary Subworkflow": [
      {
        "json": {
          "pageId": "1bf82fe2-6406-81a3-b0d7-cb54f2d0e53a",
          "data": {
            "query": "Le Cygne noir - Nassim Nicholas Taleb",
            "summaries": [
              {
                "step": 1,
                "summary": [
                  {
                    "modelName": "gpt",
                    "content": "## 1. Informations générales\n\n- **Titre** : Le Cygne noir\n- **Auteur** : Nassim Nicholas Taleb\n- **Éditeur** : Denoël (édition française, à confirmer selon la version)\n- **Année de publication** : 2007\n\n### 📌 Contexte historique et intellectuel\n\n> Le Cygne noir s'inscrit dans une réflexion critique sur la gestion des risques et l'incertitude, remettant en question les modèles prédictifs classiques utilisés en finance. Ton ouvrage se positionne dans un contexte intellectuel marqué par la remise en cause des approches traditionnelles, en soulignant l'impact majeur d'événements rares et imprévisibles sur l'histoire économique et financière. Cette perspective encourage à repenser notre approche du risque et à intégrer l'imprévisible dans nos analyses et décisions."
                  },
                  {
                    "modelName": "claude",
                    "content": "## 1. Informations générales  \n\n- **Titre** : Le Cygne noir\n- **Auteur** : Nassim Nicholas Taleb\n- **Éditeur** : Les Belles Lettres\n- **Année de publication** : 2007\n\n### 📌 Contexte historique et intellectuel \nLe Cygne noir s'inscrit dans un contexte post-11 septembre et pré-crise financière de 2008, une période où les modèles de prévision traditionnels commençaient à montrer leurs limites. L'ouvrage émerge dans un climat intellectuel où la finance quantitative et les modèles mathématiques sophistiqués dominaient la pensée économique et la gestion des risques. Taleb, ancien trader devenu philosophe des probabilités, développe une critique fondamentale de notre façon de penser l'incertitude et les événements rares. Son livre arrive à un moment crucial où le monde de la finance et de l'économie commence à questionner ses certitudes sur la prévisibilité des marchés et des événements majeurs."
                  }
                ]
              },
              {
                "step": 2,
                "summary": [
                  {
                    "modelName": "gpt",
                    "content": "## 2. Thèse et objectifs\n\n### ❓ Problématique centrale\n> Dans Le Cygne noir, Nassim Nicholas Taleb interroge la manière dont les événements rares, imprévisibles et aux conséquences majeures influent sur nos systèmes économiques et sociaux, tout en soulignant l'incapacité des modèles traditionnels à anticiper de tels événements.\n\n### 🎯 Objectifs de l’auteur\n- Proposer une nouvelle perspective qui met en lumière le rôle prépondérant des événements extrêmes dans la détermination des résultats économiques et sociaux.\n- Inciter le lecteur à repenser la manière dont il évalue les risques et les incertitudes, en adoptant une approche plus sceptique vis-à-vis des modèles prédictifs classiques.\n- Favoriser une prise de conscience sur l’importance de l’anti-fragilité, c'est-à-dire la capacité des systèmes à tirer profit de l'incertitude et du chaos."
                  },
                  {
                    "modelName": "claude",
                    "content": "## 2. Thèse et objectifs  \n\n### ❓ Problématique centrale  \nTaleb s'attaque à notre compréhension fondamentale de la causalité, du hasard et de notre capacité à prévoir l'avenir. La question centrale qu'il pose est : Comment les événements hautement improbables et imprévisibles (les \"Cygnes Noirs\") façonnent-ils notre monde, et pourquoi sommes-nous si mal équipés pour les anticiper et les comprendre ?\n\n### 🎯 Objectifs de l'auteur  \n- Démontrer les limites fondamentales de notre capacité à prédire les événements majeurs qui influencent nos vies et nos sociétés\n- Déconstruire notre tendance à rationaliser a posteriori les événements imprévisibles\n- Proposer une nouvelle approche pour vivre dans un monde dominé par l'incertitude et les événements extrêmes\n- Remettre en question les modèles statistiques traditionnels et leur application dans la finance et l'économie\n- Sensibiliser le lecteur à l'impact disproportionné des événements rares et imprévisibles sur l'histoire et nos vies quotidiennes"
                  }
                ]
              },
              {
                "step": 3,
                "summary": [
                  {
                    "modelName": "gpt",
                    "content": "## 3. Structure et arguments\n\n### 📚 Plan du livre\n- Le Cygne Noir est organisé en plusieurs parties, chacune servant à construire progressivement l'argumentation sur l'impact des événements imprévus sur notre compréhension du monde.\n- Le livre débute par la définition et l'illustration du concept de « Cygne Noir » afin d'introduire l'idée que certains événements rares et inattendus peuvent avoir des conséquences majeures.\n- La progression se poursuit en déconstruisant les modèles prédictifs traditionnels, en illustrant leur inadéquation face aux événements extrêmes.\n- Enfin, l'ouvrage conclut sur les implications pratiques de cette prise de conscience, invitant le lecteur à repenser la manière dont il évalue les risques et anticipe l'avenir.\n\n### 🔑 Points clés\n- La distinction entre deux mondes : *Médiocristan* (où les distributions sont prévisibles et les variations minuscules) et *Extrémistan* (où des événements rares peuvent avoir des conséquences énormes).\n- L'importance de reconnaître l'imprévisibilité inhérente aux systèmes complexes et d'adapter notre approche de la prise de décision en conséquence.\n- La critique des modèles statistiques et économiques classiques qui ne tiennent pas compte de l'impact disproportionné des événements extrêmes.\n- L'enjeu de remettre en question notre compréhension habituelle du risque et de la probabilité, pour intégrer des éléments d'incertitude extrême dans nos analyses."
                  },
                  {
                    "modelName": "claude",
                    "content": "## 3. Structure et arguments\n\n### 📚 Plan du livre\nLe livre est structuré en quatre parties principales :\n- **Première partie** : Introduction aux biais cognitifs et à notre incapacité à prévoir les Cygnes Noirs\n- **Deuxième partie** : Comment nous ne pouvons pas prédire l'extrême dans Extremistan\n- **Troisième partie** : Les Cygnes Gris - exploration des biais de confirmation\n- **Quatrième partie** : Applications pratiques et conclusion sur l'épistémologie\n\n### 🔑 Points clés\n- **La théorie du Cygne Noir** : Événements rares, extrêmement impactants et prévisibles uniquement rétrospectivement\n- **Médiocristan vs Extremistan** : Distinction entre deux types de domaines où les événements suivent des distributions différentes\n- **L'illusion narrative** : Notre tendance à créer des histoires cohérentes pour expliquer les événements passés\n- **L'empirisme sceptique** : Approche philosophique pour gérer l'incertitude\n- **L'anti-fragilité** : Concept clé sur la capacité à bénéficier du chaos et de l'incertitude\n- **La platonicité** : Notre tendance à simplifier la réalité dans des modèles théoriques trompeurs"
                  }
                ]
              },
              {
                "step": 4,
                "summary": [
                  {
                    "modelName": "gpt",
                    "content": "## 4. Méthodologie et preuves\n\n### 📖 Sources et exemples utilisés\nL’auteur s’appuie sur une analyse détaillée des événements historiques et sur des études de cas issus du monde de la finance et de l’économie. Dans *Le Cygne Noir*, Taleb utilise notamment des exemples marquants tels que la crise financière de 2008 pour illustrer l’échec des modèles prédictifs traditionnels face à des événements rares et imprévus.\n\n> « Les modèles traditionnels de prévision ne prennent pas suffisamment en compte l’impact des événements improbables, pourtant dévastateurs. »\n\n### 🔍 Analyse critique\n- **Conviction des arguments** : Les arguments de Taleb sont percutants et incitent à remettre en question les approches statistiques classiques. Son analyse, fondée sur des faits historiques concrets, force le lecteur à considérer l’incertitude comme un élément central dans l’analyse des risques.\n- **Biais et lacunes** : Bien que sa critique soit pertinente, certains reproches pointent du doigt une tendance à l’exagération et un manque de propositions concrètes pour pallier les failles des modèles existants.\n- **Éléments contestables** : La généralisation de certaines conclusions peut paraître excessive, surtout lorsqu’elle est appliquée à des contextes qui ne se prêtent pas toujours aux mêmes logiques.\n"
                  },
                  {
                    "modelName": "claude",
                    "content": "## 4. Méthodologie et preuves  \n\n### 📖 Sources et exemples utilisés\nTaleb s'appuie sur une combinaison rigoureuse de :\n- Événements historiques majeurs (crash boursier de 1987, attentats du 11 septembre, crise de 2008)\n- Analyses mathématiques et statistiques approfondies\n- Exemples tirés de domaines variés : finance, histoire, science, technologie\n- Références philosophiques (notamment stoïcienne) et littéraires\n- Expériences personnelles en tant que trader et analyste quantitatif\n\nIl utilise particulièrement la méthode du contre-exemple pour démontrer les failles des modèles probabilistes classiques et illustre ses propos par des métaphores percutantes (la dinde de Thanksgiving, le cygne noir).\n\n### 🔍 Analyse critique\n\n**Points forts:**\n- Argumentation solide basée sur des preuves empiriques\n- Approche multidisciplinaire qui renforce la crédibilité\n- Démonstration mathématique rigoureuse des limites des modèles gaussiens\n- Exemples concrets et accessibles qui illustrent des concepts complexes\n\n**Limites et points contestables:**\n- Ton parfois polémique et agressif envers certains experts\n- Tendance à la répétition et à l'emphase excessive\n- Manque relatif de solutions pratiques face aux problèmes soulevés\n- Certains critiques pointent une possible surestimation de la fréquence des événements 'cygne noir'\n- La subjectivité de l'auteur transparaît parfois dans l'analyse des exemples"
                  }
                ]
              },
              {
                "step": 5,
                "summary": [
                  {
                    "modelName": "gpt",
                    "content": "## 5. Implications et applications pratiques\n\n### 🌍 Impact des idées\nLe livre met en avant l'importance de repenser la gestion des risques dans un monde dominé par l'incertitude et les événements imprévus. Dans le contexte économique comme dans la vie quotidienne, l'approche de Taleb invite à :\n- Revoir les stratégies d'investissement en intégrant l'« anti-fragilité » qui consiste à se préparer non pas uniquement aux risques prévisibles, mais aussi à ceux qui sortent des cadres classiques.\n- Encourager une approche plus prudente et résiliente dans les démarches entrepreneuriales, notamment en évitant une surdépendance aux modèles probabilistes traditionnels.\n- Adapter les politiques publiques et la gestion des crises en tenant compte de la possibilité d'événements improbables aux conséquences majeures.\n\n### 🔄 Comparaison avec d’autres approches\nLe Cygne noir se distingue ainsi par une remise en question des modèles prédictifs classiques. En comparaison :\n- D'autres théories économiques continuent de s'appuyer sur des modèles statistiques habituels qui minimisent l'impact des événements rares, tandis que Taleb insiste sur le rôle crucial de ces exceptions.\n- Certains auteurs prônent une approche plus optimiste ou contrôlée de la prise de risque, contrastant avec l'argument de Taleb qui appelle à accepter l'incertitude comme un élément inhérent et inévitable de nos systèmes.\n- L'œuvre complémente des concepts comme l'innovation radicale ou la disruption, qui, tout en valorisant le changement, n'intègrent pas toujours la dimension de chaos et d'imprévisibilité sur le long terme.\n\nEn résumé, l'ouvrage offre une vision qui remet en cause les fondements des stratégies de gestion du risque et invite à adopter une posture plus critique et adaptable face à un environnement par nature incertain."
                  },
                  {
                    "modelName": "claude",
                    "content": "## 5. Implications et applications pratiques\n\n### 🌍 Impact des idées\nLes concepts du Cygne Noir ont des implications profondes dans de nombreux domaines :\n- En finance : Adopter des stratégies d'investissement qui protègent contre les événements extrêmes plutôt que de se fier aux modèles probabilistes classiques\n- En entrepreneuriat : Créer des entreprises \"antifragiles\" capables de bénéficier de l'incertitude plutôt que d'en souffrir\n- En gestion des risques : Privilégier la robustesse et la redondance plutôt que l'optimisation excessive\n- En prise de décision : Rester humble face à notre incapacité à prédire l'avenir et garder une marge de sécurité\n\n### 🔄 Comparaison avec d'autres approches\n- Contraste avec la théorie économique classique qui suppose que les marchés sont efficaces et les risques quantifiables\n- Opposition aux méthodes de gestion des risques basées sur la distribution normale (courbe en cloche)\n- Rejoint certaines idées de Mandelbrot sur les fractales et les événements extrêmes\n- S'inscrit dans la lignée des penseurs critiques de l'économie conventionnelle comme Hayek et sa théorie de l'ordre spontané\n\nLes idées de Taleb se distinguent par leur radicalité et leur remise en question fondamentale des modèles prédictifs traditionnels, proposant une approche plus prudente et consciente de nos limites cognitives."
                  }
                ]
              },
              {
                "step": 6,
                "summary": [
                  {
                    "modelName": "gpt",
                    "content": "## 6. Réflexion personnelle\n\n### 💡 Impressions et questionnements\nDans « Le Cygne noir », Nassim Nicholas Taleb nous confronte à une vision du monde où l’imprévisible et l’extrême jouent un rôle central. Ce qui m’a particulièrement marqué, c’est la force avec laquelle l’auteur déconstruit les modèles de prévisibilité traditionnelle, invitant à une remise en question de nos certitudes. Le livre, à la fois provocateur et éclairant, suscite des interrogations sur notre capacité à anticiper l’avenir et sur l’influence des événements rares dans nos vies quotidiennes. Sa perspective, parfois radicale, pousse à réfléchir sur l’importance d’intégrer l’incertitude dans nos décisions personnelles et professionnelles.\n\n### 🏆 Pertinence personnelle\nAu niveau personnel, « Le Cygne noir » m’incite à adopter une approche plus prudente face aux risques et à valoriser une pensée critique par rapport aux modèles économiques et prédictifs conventionnels. L’ouvrage me pousse à questionner la fiabilité des méthodes traditionnelles et à envisager des stratégies de vie et d’investissement qui prennent en compte l’imprévu. Il m’encourage à développer une résilience face aux incertitudes, renforçant ainsi ma capacité à naviguer dans un environnement en constante évolution."
                  },
                  {
                    "modelName": "claude",
                    "content": "## 6. Réflexion personnelle  \n\n### 💡 Impressions et questionnements  \nLe Cygne Noir est un ouvrage profondément déstabilisant qui remet en question notre façon de percevoir le monde et les événements. La manière dont Taleb déconstruit nos certitudes sur la prévisibilité et notre capacité à anticiper l'avenir est particulièrement marquante. Son style provocateur et sans concession, bien qu'parfois polémique, force à la réflexion et à l'humilité intellectuelle.\n\nCe qui impressionne particulièrement est sa capacité à démontrer comment notre biais rétrospectif nous fait croire que nous aurions pu prévoir des événements majeurs, alors qu'en réalité leur nature même les rend imprévisibles. La notion d'incertitude radicale qu'il développe est à la fois fascinante et inconfortable.\n\n### 🏆 Pertinence personnelle  \nLa lecture de cet ouvrage transforme profondément notre rapport au risque et à l'incertitude. Elle nous pousse à :\n- Adopter une posture plus humble face à nos capacités de prédiction\n- Remettre en question notre confiance excessive dans les experts et les modèles\n- Développer des stratégies pour devenir plus \"antifragile\" face aux événements imprévus\n- Être plus attentif aux signaux faibles et aux possibilités de rupture\n\nCette nouvelle perspective influence directement la façon d'aborder la prise de décision, que ce soit dans un contexte professionnel ou personnel, en nous encourageant à nous préparer à l'imprévu plutôt que de tenter vainement de le prédire."
                  }
                ]
              },
              {
                "step": 7,
                "summary": [
                  {
                    "modelName": "gpt",
                    "content": "## 7. Conclusion et synthèse\n\n### 🔁 Récapitulatif des idées essentielles\nDans « Le Cygne noir », Taleb nous invite à repenser notre perception du risque et de l'incertitude en soulignant l'impact disproportionné des événements rares. L'auteur rappelle la faillibilité des modèles prédictifs classiques en illustrant comment des « cygnes noirs » – imprévisibles et extrêmes – peuvent remodeler l'économie et notre vision du monde.\n\n### 🌟 Ouverture\n- Ce livre est crucial pour qui souhaite comprendre la fragilité des systèmes modernes face aux imprévus, ouvrant ainsi le débat sur l'importance de l'anti-fragilité.\n- Il incite à une réflexion plus large sur la capacité des individus et des institutions à s'adapter à l'inattendu en adoptant des stratégies résilientes.\n- Pour approfondir ces notions, des lectures complémentaires comme « Antifragile » de Taleb ou des ouvrages sur la gestion du risque et l'incertitude peuvent s'avérer très enrichissantes."
                  },
                  {
                    "modelName": "claude",
                    "content": "## 7. Conclusion et synthèse\n\n### 🔁 Récapitulatif des idées essentielles\nLe Cygne Noir révolutionne notre compréhension des événements rares et de leur impact. Taleb démontre magistralement que notre monde est dominé par l'imprévisible et l'extrême, plutôt que par la moyenne et le prévisible. Les points essentiels sont:\n- L'impossibilité de prédire les événements à fort impact\n- La fragilité des modèles de prévision traditionnels\n- L'importance de construire des systèmes anti-fragiles\n- La distinction fondamentale entre Médiocristan et Extrêmistan\n\n### 🌟 Ouverture\nL'importance du Cygne Noir dans le domaine de la gestion des risques et de la prise de décision est fondamentale. Il a profondément influencé la pensée économique et financière post-2008. Ce livre ouvre une réflexion cruciale sur notre rapport à l'incertitude et notre capacité à naviguer dans un monde de plus en plus complexe et interconnecté.\n\nPour approfondir ces concepts, les lecteurs pourront se tourner vers:\n- 'Antifragile' du même auteur\n- 'Thinking, Fast and Slow' de Daniel Kahneman\n- 'The Black Swan: Second Edition' qui inclut un essai sur la robustesse et la fragilité"
                  }
                ]
              }
            ]
          },
          "jobType": "report"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-03-23T15:44:55.000Z",
  "versionId": "9f8af94e-92e9-407e-ab25-b5fd37307e2e"
}