workflows/RAG/QRLhLCmCnKFir4Si.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "folderNameTool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "metadataTool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "ragTool",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "ragTool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-05-01T13:48:05.770Z",
  "id": "QRLhLCmCnKFir4Si",
  "isArchived": true,
  "meta": null,
  "name": "RAG Agent",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "message"
            },
            {
              "name": "sessionId"
            },
            {
              "name": "folderName"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1184,
        176
      ],
      "id": "0537075c-61f6-4c18-8be0-fa588f992ab0",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ebf104cf-6612-40e1-b474-98767a51e936",
              "leftValue": "={{ $json.folderName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -960,
        176
      ],
      "id": "aeddb35c-70f8-4f28-8912-e212d83d77a5",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=## 📌 Contexte  \nTu es un agent de recherche qui utilise les métadonnées et la recherche sémantique RAG. \nTu reçois TOUJOURS un folderName validé.\n\n## 🛠️ Outils disponibles :\n1. **metadataTool** (PostgreSQL)\n   - Accède aux métadonnées des documents :\n     - title: le titre du document\n     - theme : thème principal\n     - topics : sujets abordés\n     - painPoints : points de douleur\n     - keywords : mots-clés\n   - Utilise ces informations pour cibler les documents pertinents\n\n2. **ragTool** (Qdrant)\n   - Recherche sémantique dans les documents\n   - Tu dois filtrer les résultats pour ne garder que ceux provenant des documents retenus lors de l'étape 1\n\n## 🔍 Processus de recherche :\n1. TOUJOURS commencer par metadataTool pour :\n   - Identifier les documents pertinents via metadata\n   - Utiliser theme/topics/keywords pour affiner la sélection\n\n2. ENSUITE utiliser ragTool pour :\n   - Prends connaissance des documents spécifiés (noms ou IDs exacts)\n   - Recherche précise dans les documents présélectionnés\n   - Vérifie dans les métadonnées des résultats que chaque extrait provient bien des documents spécifiés\n   - IGNORE tous les extraits provenant d'autres documents\n\n## ⚠️ FORMAT DE RÉPONSE OBLIGATOIRE :\n{\n    \"message\": \"réponse détaillée basée UNIQUEMENT sur les documents spécifiés\",\n    \"sources\": {\n        \"documents\": [\"liste exacte des documents utilisés avec leurs noms et IDs tels qu'ils apparaissent dans les métadonnées\"],\n        \"themes\": [\"thèmes identifiés\"],\n        \"keywords\": [\"mots-clés pertinents\"]\n    }\n}\n\n## ⚠️ RÈGLES ABSOLUES :\n1. SEULS les documents spécifiés doivent être utilisés\n2. Vérifie TOUJOURS les métadonnées (fileName, fileId) des extraits pour confirmer leur source\n3. Si le ragTool retourne des extraits d'autres documents, IGNORE-LES COMPLÈTEMENT\n4. Si tu ne trouves pas l'information dans les documents spécifiés, indique-le clairement et n'utilise PAS d'autres sources\n5. JAMAIS d'invention d'information - si tu ne la trouves pas, dis-le simplement"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        112,
        0
      ],
      "id": "78761d4b-992b-4425-a356-73eb9f7d64a1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=## 📌 Contexte  \nTu es un agent de validation qui détermine le dossier approprié pour la recherche.\nTu as accès à un seul outil : folderNameTool (PostgreSQL).\n\n## 🎯 Objectif\nDéterminer si la requête de l'utilisateur correspond à un dossier existant.\n\n## 🛠️ Processus :\n1. Utiliser folderNameTool pour obtenir la liste des collections disponibles\n2. Analyser si la requête correspond clairement à une collection\n\n## ⚠️ FORMAT DE RÉPONSE OBLIGATOIRE :\n{\n    \"folderName\": \"nom_du_dossier\",  // uniquement si dossier clairement identifié\n    \"message\": \"ton message\",\n    \"status\": \"VALID\" | \"CONFIRM\" | \"NOT_FOUND\"  // Statut de la recherche\n}\n\n## 📝 Exemples de réponses :\n\nCas VALID (dossier trouvé clairement) :\n{\n    \"folderName\": \"appart\",\n    \"message\": \"J'ai identifié la collection 'rag_appart' pour votre recherche.\",\n    \"status\": \"VALID\"\n}\n\nCas CONFIRM (besoin de confirmation) :\n{\n    \"message\": \"Votre requête pourrait correspondre à plusieurs collections : rag_test, rag_appart. Laquelle vous intéresse ?\",\n    \"status\": \"CONFIRM\"\n}\n\nCas NOT_FOUND (aucune correspondance) :\n{\n    \"message\": \"Aucune collection ne correspond à votre demande. Collections disponibles : rag_test, rag_appart. Veuillez préciser.\",\n    \"status\": \"NOT_FOUND\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -688,
        304
      ],
      "id": "0fca7a03-8241-433f-ba58-a6f765d410dc",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -736,
        528
      ],
      "id": "524025ff-5a09-4dd0-b35d-57191650a8e6",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT table_name \nFROM information_schema.tables \nWHERE table_schema = 'public' \nAND table_name ILIKE '%rag%';",
        "options": {
          "connectionTimeout": 10,
          "delayClosingIdleConnection": 11
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -608,
        528
      ],
      "id": "3dc192ec-a863-4c8e-888d-247ecb8df7d0",
      "name": "folderNameTool"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n    \"folderName\": \"nom_du_dossier\",\n    \"message\": \"ton message\",\n    \"status\": \"VALID\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -480,
        528
      ],
      "id": "712b5813-4469-4de1-b353-57e609cfb20b",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.status }}",
                    "rightValue": "VALID",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3ca48f71-089c-4345-8a8f-eeafc89bd4df"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "36ca609f-6d33-4436-9908-1008e588c6df",
                    "leftValue": "={{ $json.output.status }}",
                    "rightValue": "CONFIRM",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "24f09e4c-3f1e-4daa-b672-e3fd6b07560b",
                    "leftValue": "={{ $json.output.status }}",
                    "rightValue": "NOT_FOUND",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -272,
        288
      ],
      "id": "6fbac917-517b-49b2-8aaf-1b901981bb83",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "505cc1da-27a0-4456-b96d-946245c186f5",
              "name": "message",
              "value": "={{ $json.output.message }}",
              "type": "string"
            },
            {
              "id": "25c7f7ac-d081-4ad5-a359-b57e4767923f",
              "name": "sources",
              "value": "={{ $json.output.sources.documents }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        176
      ],
      "id": "dc7b67fb-e2f6-43cf-8ec2-3418de2c051b",
      "name": "Response"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "=n8n_{{ $('When Executed by Another Workflow').item.json.folderName }}_metadata",
          "mode": "name"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        80,
        224
      ],
      "id": "ef42eda5-8e66-49b3-8a8c-95936c1d24f0",
      "name": "metadataTool"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        288,
        432
      ],
      "id": "fa175925-0aa1-45f8-8001-be1cd6f2ca8b",
      "name": "Embeddings OpenAI"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "=n8n_{{ $('When Executed by Another Workflow').item.json.folderName }}",
        "toolDescription": "=",
        "qdrantCollection": {
          "__rl": true,
          "value": "=n8n_{{ $('When Executed by Another Workflow').item.json.folderName }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.1,
      "position": [
        208,
        224
      ],
      "id": "7d1af7de-d4cb-44d7-a06f-f277af085eae",
      "name": "ragTool"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        496,
        224
      ],
      "id": "2d28f15d-ea1c-40c9-8397-291c3773749a",
      "name": "Auto-fixing Output Parser"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n    \"message\": \"réponse détaillée basée sur la recherche\",\n    \"sources\": {\n        \"documents\": [\"liste des documents pertinents\"],\n        \"themes\": [\"thèmes identifiés\"],\n        \"keywords\": [\"mots-clés pertinents\"]\n    }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        640,
        432
      ],
      "id": "bca96e19-e661-472a-95ae-6948ddc4de73",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-3-7-sonnet-20250219",
          "cachedResultName": "Claude 3.7 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        496,
        432
      ],
      "id": "0368dcf7-6a65-4a0c-94ed-864b027d3bf6",
      "name": "Anthropic Chat Model"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -48,
        224
      ],
      "id": "947947ff-58a4-4c5b-910b-7cae8e264b5d",
      "name": "OpenAI Chat Model2"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-05-01T13:48:05.776Z",
      "createdAt": "2026-05-01T13:48:05.776Z",
      "role": "workflow:owner",
      "workflowId": "QRLhLCmCnKFir4Si",
      "projectId": "TBUFy0KozocPEXEX"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-08-07T10:27:20.543Z",
      "createdAt": "2025-08-07T10:27:20.543Z",
      "id": "7c2931Xd6Slzbhhx",
      "name": "RAG"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-05-12T07:45:39.000Z",
  "versionId": "32d102d6-e6e4-44e1-8c1a-9ab3ca412382"
}