workflows/mcp/kKJEW2qpnZfpKEy3.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-12-03T17:30:58.237Z",
    "createdAt": "2025-12-03T17:30:58.237Z",
    "versionId": "8ea04f24-ef59-43f6-a42e-5c5157a951a3",
    "workflowId": "kKJEW2qpnZfpKEy3",
    "nodes": [
      {
        "parameters": {
          "content": "## 1. Set up an MCP Server Trigger\n[Read more about the MCP Server Trigger](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-langchain.mcptrigger)",
          "height": 660,
          "width": 680,
          "color": 7
        },
        "id": "4d589fd1-a36f-4887-883d-62dcae5a5c61",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          288,
          416
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "### Always Authenticate Your Server!\nBefore going to production, it's always advised to enable authentication on your MCP server trigger.",
          "height": 100,
          "width": 380,
          "color": 5
        },
        "id": "38cc7b1b-2f56-4bb2-9832-e42f0f4d2478",
        "name": "Sticky Note3",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          272,
          288
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "operation"
              },
              {
                "name": "folderId"
              },
              {
                "name": "fileId"
              }
            ]
          }
        },
        "id": "29eba025-df33-46a9-ab97-c08512eaf6f6",
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          1120,
          800
        ],
        "typeVersion": 1.1
      },
      {
        "parameters": {
          "path": "google-drive"
        },
        "id": "3770ff24-993f-4468-8a07-12ca9f151e42",
        "name": "Google Drive MCP Server",
        "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
        "position": [
          480,
          608
        ],
        "webhookId": "a289c719-fb71-4b08-97c6-79d12645dc7e",
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## 2. Handle Multiple Binary Formats via Conversion and AI\n[Read more about the PostgreSQL Node](https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.postgres/)\n\nMCP clients (or rather, the AI agents) still expect and require text responses from our MCP server.\nN8N can provide the right conversion tools to parse most text formats such as PDF, CSV and XML.\nFor images, audio and video, consider using multimodal LLMs to describe or transcribe the file instead.",
          "height": 860,
          "width": 1340,
          "color": 7
        },
        "id": "b4ca1a5a-2c72-4257-ae0d-23d4b7605570",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          992,
          416
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $json.fileId }}"
          },
          "options": {
            "googleFileConversion": {
              "conversion": {
                "docsToFormat": "text/plain",
                "slidesToFormat": "application/pdf"
              }
            }
          }
        },
        "id": "26dbb885-962f-498b-b485-01ccb3c0d0c2",
        "name": "Download File1",
        "type": "n8n-nodes-base.googleDrive",
        "position": [
          1472,
          800
        ],
        "typeVersion": 3,
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "91lIGh45tyVhtOky",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "7b6958ce-d553-4379-a5d6-743f39b342d0",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "leftValue": "={{ $binary.data.mimeType }}",
                      "rightValue": "application/pdf"
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "pdf"
              },
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "d0816a37-ac06-49e3-8d63-17fcd061e33f",
                      "operator": {
                        "name": "filter.operator.equals",
                        "type": "string",
                        "operation": "equals"
                      },
                      "leftValue": "={{ $binary.data.mimeType }}",
                      "rightValue": "text/csv"
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "csv"
              },
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "589540e1-1439-41e3-ba89-b27f5e936190",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      },
                      "leftValue": "={{\n[\n  'image/jpeg',\n  'image/jpg',\n  'image/png',\n  'image/gif'\n].some(mimeType => $binary.data.mimeType === mimeType)\n}}",
                      "rightValue": ""
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "image"
              },
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "b8fc61a1-6057-4db3-960e-b8ddcbdd0f31",
                      "operator": {
                        "type": "string",
                        "operation": "contains"
                      },
                      "leftValue": "={{ $binary.data.mimeType }}",
                      "rightValue": "audio"
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "audio"
              },
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "959d65a6-372f-4978-b2d1-f28aa1e372c6",
                      "operator": {
                        "type": "string",
                        "operation": "contains"
                      },
                      "leftValue": "={{ $binary.data.mimeType }}",
                      "rightValue": "video"
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "video"
              }
            ]
          },
          "options": {}
        },
        "id": "3528a19d-c2da-4062-970d-e2614741777f",
        "name": "FileType",
        "type": "n8n-nodes-base.switch",
        "position": [
          1648,
          752
        ],
        "typeVersion": 3.2
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "b03bb746-dc4e-469c-b8e6-a34c0aa8d0a6",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "leftValue": "={{ $json.operation }}",
                      "rightValue": "readFile"
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "ReadFile"
              }
            ]
          },
          "options": {}
        },
        "id": "b70bd2c7-f378-4862-bab9-bb858ee913f9",
        "name": "Operation",
        "type": "n8n-nodes-base.switch",
        "position": [
          1296,
          800
        ],
        "typeVersion": 3.2
      },
      {
        "parameters": {
          "operation": "pdf",
          "options": {}
        },
        "id": "d46e0e54-aea4-47c9-b858-3eda1c709dc4",
        "name": "Extract from PDF",
        "type": "n8n-nodes-base.extractFromFile",
        "position": [
          1904,
          528
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "options": {
            "encoding": "utf-8",
            "relaxQuotes": true,
            "headerRow": false,
            "includeEmptyCells": true
          }
        },
        "id": "f50bba7e-a848-42b4-a6ff-d250d8dcab37",
        "name": "Extract from CSV",
        "type": "n8n-nodes-base.extractFromFile",
        "position": [
          1904,
          720
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a481cde3-b8ec-4d97-aa13-4668bd66c24d",
                "name": "response",
                "type": "string",
                "value": "={{ $json.text }}"
              }
            ]
          },
          "options": {}
        },
        "id": "b8335773-ef68-404c-8638-6ecb90a14664",
        "name": "Get PDF Response",
        "type": "n8n-nodes-base.set",
        "position": [
          2096,
          528
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a481cde3-b8ec-4d97-aa13-4668bd66c24d",
                "name": "response",
                "type": "string",
                "value": "={{\n$input.all()\n  .map(item => item.json.row.map(cell => `\"${cell}\"`).join(','))\n  .join('\\n')\n}}"
              }
            ]
          },
          "options": {}
        },
        "id": "f62bd163-a1f0-4d8b-9a7d-9ade288109ba",
        "name": "Get CSV Response",
        "type": "n8n-nodes-base.set",
        "position": [
          2096,
          720
        ],
        "executeOnce": true,
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "name": "ReadFile",
          "description": "Call this tool to download and read the contents of a file within google drive.",
          "workflowId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $workflow.id }}"
          },
          "workflowInputs": {
            "value": {
              "fileId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fileId', ``, 'string') }}",
              "folderId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('folderId', ``, 'string') }}",
              "operation": "readFile"
            },
            "schema": [
              {
                "id": "operation",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "operation",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "folderId",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "folderId",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "fileId",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "fileId",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              }
            ],
            "mappingMode": "defineBelow",
            "matchingColumns": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "id": "d1f58228-d308-4d78-b4f5-37d22b054277",
        "name": "Read File From GDrive",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "position": [
          720,
          816
        ],
        "typeVersion": 2.1
      },
      {
        "parameters": {
          "resource": "fileFolder",
          "queryString": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search_Query', ``, 'string') }}",
          "limit": 10,
          "filter": {
            "driveId": {
              "mode": "list",
              "value": "My Drive"
            },
            "whatToSearch": "files"
          },
          "options": {}
        },
        "id": "8810ae9e-e45f-4dd8-b7b9-97f3508e6e00",
        "name": "Search Files from Gdrive",
        "type": "n8n-nodes-base.googleDriveTool",
        "position": [
          560,
          816
        ],
        "typeVersion": 3,
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "91lIGh45tyVhtOky",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "content": "## Try It Out!\n### This n8n demonstrates how to build a simple Google Drive MCP server to search and get contents of files from Google Drive.\n\nThis MCP example is based off an official MCP reference implementation which can be found here -https://github.com/modelcontextprotocol/servers/tree/main/src/gdrive\n\n### How it works\n* A MCP server trigger is used and connected to 1x Google Drive tool and 1x Custom Workflow tool.\n* The Google Drive tool is set to perform a search on files within our Google Drive folder.\n* The Custom Workflow tool downloads target files found in our drive and converts the binaries to their text representation. Eg. PDFs have only their text contents extracted and returned to the MCP client.\n\n### How to use\n* This Google Drive MCP server allows any compatible MCP client to manage a person or shared Google Drive. Simple select a drive or for better control, specify a folder within the drive to scope the operations to.\n* Connect your MCP client by following the n8n guidelines here - https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-langchain.mcptrigger/#integrating-with-claude-desktop\n* Try the following queries in your MCP client:\n  * \"Please help me search for last month's expense reports.\"\n * \"What does the company policy document say about cancellations and refunds?\"\n\n### Requirements\n* Google Drive for documents.\n* OpenAI for image and audio understanding.\n* MCP Client or Agent for usage such as Claude Desktop - https://claude.ai/download\n\n### Customising this workflow\n* Add additional capabilities such as renaming, moving and/or deleting files.\n* Remember to set the MCP server to require credentials before going to production and sharing this MCP server with others!",
          "height": 1060,
          "width": 440
        },
        "id": "8c60a192-122c-4daf-9dde-e1baa440f549",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -192,
          16
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "resource": "image",
          "operation": "analyze",
          "modelId": {
            "__rl": true,
            "value": "models/gemini-2.5-pro",
            "mode": "list",
            "cachedResultName": "models/gemini-2.5-pro"
          },
          "inputType": "binary",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.googleGemini",
        "typeVersion": 1,
        "position": [
          1904,
          880
        ],
        "id": "baf42b79-7350-4573-84b8-7a80a2b83a88",
        "name": "Analyze an image",
        "credentials": {
          "googlePalmApi": {
            "id": "1PUfTRyFgywcyG2w",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "resource": "audio",
          "modelId": {
            "__rl": true,
            "value": "models/gemini-2.5-pro",
            "mode": "list",
            "cachedResultName": "models/gemini-2.5-pro"
          },
          "inputType": "binary",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.googleGemini",
        "typeVersion": 1,
        "position": [
          1904,
          1056
        ],
        "id": "a05e8007-b553-4962-84b3-cc738ee1e9b3",
        "name": "Transcribe a recording",
        "credentials": {
          "googlePalmApi": {
            "id": "1PUfTRyFgywcyG2w",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      }
    ],
    "connections": {
      "FileType": {
        "main": [
          [
            {
              "node": "Extract from PDF",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Extract from CSV",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Analyze an image",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Transcribe a recording",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Operation": {
        "main": [
          [
            {
              "node": "Download File1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download File1": {
        "main": [
          [
            {
              "node": "FileType",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract from CSV": {
        "main": [
          [
            {
              "node": "Get CSV Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract from PDF": {
        "main": [
          [
            {
              "node": "Get PDF Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read File From GDrive": {
        "ai_tool": [
          [
            {
              "node": "Google Drive MCP Server",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Search Files from Gdrive": {
        "ai_tool": [
          [
            {
              "node": "Google Drive MCP Server",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Operation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Transcribe a recording": {
        "main": [
          []
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null
  },
  "activeVersionId": "8ea04f24-ef59-43f6-a42e-5c5157a951a3",
  "connections": {
    "FileType": {
      "main": [
        [
          {
            "node": "Extract from PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from CSV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Operation": {
      "main": [
        [
          {
            "node": "Download File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File1": {
      "main": [
        [
          {
            "node": "FileType",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from CSV": {
      "main": [
        [
          {
            "node": "Get CSV Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from PDF": {
      "main": [
        [
          {
            "node": "Get PDF Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read File From GDrive": {
      "ai_tool": [
        [
          {
            "node": "Google Drive MCP Server",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search Files from Gdrive": {
      "ai_tool": [
        [
          {
            "node": "Google Drive MCP Server",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-10-02T13:46:21.443Z",
  "id": "kKJEW2qpnZfpKEy3",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Google Drive MCP server",
  "nodes": [
    {
      "parameters": {
        "content": "## 1. Set up an MCP Server Trigger\n[Read more about the MCP Server Trigger](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-langchain.mcptrigger)",
        "height": 660,
        "width": 680,
        "color": 7
      },
      "id": "4d589fd1-a36f-4887-883d-62dcae5a5c61",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        288,
        416
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Always Authenticate Your Server!\nBefore going to production, it's always advised to enable authentication on your MCP server trigger.",
        "height": 100,
        "width": 380,
        "color": 5
      },
      "id": "38cc7b1b-2f56-4bb2-9832-e42f0f4d2478",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        272,
        288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "operation"
            },
            {
              "name": "folderId"
            },
            {
              "name": "fileId"
            }
          ]
        }
      },
      "id": "29eba025-df33-46a9-ab97-c08512eaf6f6",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        1120,
        800
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "path": "google-drive"
      },
      "id": "3770ff24-993f-4468-8a07-12ca9f151e42",
      "name": "Google Drive MCP Server",
      "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
      "position": [
        480,
        608
      ],
      "webhookId": "a289c719-fb71-4b08-97c6-79d12645dc7e",
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 2. Handle Multiple Binary Formats via Conversion and AI\n[Read more about the PostgreSQL Node](https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.postgres/)\n\nMCP clients (or rather, the AI agents) still expect and require text responses from our MCP server.\nN8N can provide the right conversion tools to parse most text formats such as PDF, CSV and XML.\nFor images, audio and video, consider using multimodal LLMs to describe or transcribe the file instead.",
        "height": 860,
        "width": 1340,
        "color": 7
      },
      "id": "b4ca1a5a-2c72-4257-ae0d-23d4b7605570",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        992,
        416
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.fileId }}"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain",
              "slidesToFormat": "application/pdf"
            }
          }
        }
      },
      "id": "26dbb885-962f-498b-b485-01ccb3c0d0c2",
      "name": "Download File1",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1472,
        800
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "91lIGh45tyVhtOky",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "7b6958ce-d553-4379-a5d6-743f39b342d0",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $binary.data.mimeType }}",
                    "rightValue": "application/pdf"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "pdf"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "d0816a37-ac06-49e3-8d63-17fcd061e33f",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $binary.data.mimeType }}",
                    "rightValue": "text/csv"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "csv"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "589540e1-1439-41e3-ba89-b27f5e936190",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "leftValue": "={{\n[\n  'image/jpeg',\n  'image/jpg',\n  'image/png',\n  'image/gif'\n].some(mimeType => $binary.data.mimeType === mimeType)\n}}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "b8fc61a1-6057-4db3-960e-b8ddcbdd0f31",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "leftValue": "={{ $binary.data.mimeType }}",
                    "rightValue": "audio"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "959d65a6-372f-4978-b2d1-f28aa1e372c6",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "leftValue": "={{ $binary.data.mimeType }}",
                    "rightValue": "video"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "video"
            }
          ]
        },
        "options": {}
      },
      "id": "3528a19d-c2da-4062-970d-e2614741777f",
      "name": "FileType",
      "type": "n8n-nodes-base.switch",
      "position": [
        1648,
        752
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "b03bb746-dc4e-469c-b8e6-a34c0aa8d0a6",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.operation }}",
                    "rightValue": "readFile"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "ReadFile"
            }
          ]
        },
        "options": {}
      },
      "id": "b70bd2c7-f378-4862-bab9-bb858ee913f9",
      "name": "Operation",
      "type": "n8n-nodes-base.switch",
      "position": [
        1296,
        800
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "d46e0e54-aea4-47c9-b858-3eda1c709dc4",
      "name": "Extract from PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        1904,
        528
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {
          "encoding": "utf-8",
          "relaxQuotes": true,
          "headerRow": false,
          "includeEmptyCells": true
        }
      },
      "id": "f50bba7e-a848-42b4-a6ff-d250d8dcab37",
      "name": "Extract from CSV",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        1904,
        720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a481cde3-b8ec-4d97-aa13-4668bd66c24d",
              "name": "response",
              "type": "string",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b8335773-ef68-404c-8638-6ecb90a14664",
      "name": "Get PDF Response",
      "type": "n8n-nodes-base.set",
      "position": [
        2096,
        528
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a481cde3-b8ec-4d97-aa13-4668bd66c24d",
              "name": "response",
              "type": "string",
              "value": "={{\n$input.all()\n  .map(item => item.json.row.map(cell => `\"${cell}\"`).join(','))\n  .join('\\n')\n}}"
            }
          ]
        },
        "options": {}
      },
      "id": "f62bd163-a1f0-4d8b-9a7d-9ade288109ba",
      "name": "Get CSV Response",
      "type": "n8n-nodes-base.set",
      "position": [
        2096,
        720
      ],
      "executeOnce": true,
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "name": "ReadFile",
        "description": "Call this tool to download and read the contents of a file within google drive.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}"
        },
        "workflowInputs": {
          "value": {
            "fileId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fileId', ``, 'string') }}",
            "folderId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('folderId', ``, 'string') }}",
            "operation": "readFile"
          },
          "schema": [
            {
              "id": "operation",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "operation",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "folderId",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "folderId",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "fileId",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "fileId",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "d1f58228-d308-4d78-b4f5-37d22b054277",
      "name": "Read File From GDrive",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        720,
        816
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search_Query', ``, 'string') }}",
        "limit": 10,
        "filter": {
          "driveId": {
            "mode": "list",
            "value": "My Drive"
          },
          "whatToSearch": "files"
        },
        "options": {}
      },
      "id": "8810ae9e-e45f-4dd8-b7b9-97f3508e6e00",
      "name": "Search Files from Gdrive",
      "type": "n8n-nodes-base.googleDriveTool",
      "position": [
        560,
        816
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "91lIGh45tyVhtOky",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Try It Out!\n### This n8n demonstrates how to build a simple Google Drive MCP server to search and get contents of files from Google Drive.\n\nThis MCP example is based off an official MCP reference implementation which can be found here -https://github.com/modelcontextprotocol/servers/tree/main/src/gdrive\n\n### How it works\n* A MCP server trigger is used and connected to 1x Google Drive tool and 1x Custom Workflow tool.\n* The Google Drive tool is set to perform a search on files within our Google Drive folder.\n* The Custom Workflow tool downloads target files found in our drive and converts the binaries to their text representation. Eg. PDFs have only their text contents extracted and returned to the MCP client.\n\n### How to use\n* This Google Drive MCP server allows any compatible MCP client to manage a person or shared Google Drive. Simple select a drive or for better control, specify a folder within the drive to scope the operations to.\n* Connect your MCP client by following the n8n guidelines here - https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-langchain.mcptrigger/#integrating-with-claude-desktop\n* Try the following queries in your MCP client:\n  * \"Please help me search for last month's expense reports.\"\n * \"What does the company policy document say about cancellations and refunds?\"\n\n### Requirements\n* Google Drive for documents.\n* OpenAI for image and audio understanding.\n* MCP Client or Agent for usage such as Claude Desktop - https://claude.ai/download\n\n### Customising this workflow\n* Add additional capabilities such as renaming, moving and/or deleting files.\n* Remember to set the MCP server to require credentials before going to production and sharing this MCP server with others!",
        "height": 1060,
        "width": 440
      },
      "id": "8c60a192-122c-4daf-9dde-e1baa440f549",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1904,
        880
      ],
      "id": "baf42b79-7350-4573-84b8-7a80a2b83a88",
      "name": "Analyze an image",
      "credentials": {
        "googlePalmApi": {
          "id": "1PUfTRyFgywcyG2w",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1904,
        1056
      ],
      "id": "a05e8007-b553-4962-84b3-cc738ee1e9b3",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "1PUfTRyFgywcyG2w",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "zSl3wxrgtLrk7m2j"
  },
  "shared": [
    {
      "updatedAt": "2025-10-02T13:46:21.445Z",
      "createdAt": "2025-10-02T13:46:21.445Z",
      "role": "workflow:owner",
      "workflowId": "kKJEW2qpnZfpKEy3",
      "projectId": "TBUFy0KozocPEXEX"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-08-08T11:24:24.522Z",
      "createdAt": "2025-08-08T11:24:24.522Z",
      "id": "rK9V8QcfmTOMJ40x",
      "name": "mcp"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-10-02T14:15:12.000Z",
  "versionId": "8ea04f24-ef59-43f6-a42e-5c5157a951a3"
}