workflows/music/kXwHMuZluC7KJuaC.json
{
  "active": false,
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Filter new data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter new data": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LabelSheet Subworkflow": {
      "main": [
        [
          {
            "node": "Agent Soundcloud",
            "type": "main",
            "index": 0
          },
          {
            "node": "Agent Beatport",
            "type": "main",
            "index": 0
          },
          {
            "node": "Agent Bandcamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Label Sheet'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5 mini": {
      "ai_languageModel": [
        [
          {
            "node": "Agent Soundcloud",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Agent Beatport",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Agent Bandcamp",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Google Sheet Validation Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agent Soundcloud": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sc Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Agent Soundcloud",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Sc MCP Client": {
      "ai_tool": [
        [
          {
            "node": "Agent Soundcloud",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Bp Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Agent Beatport",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Sc MCP Client1": {
      "ai_tool": [
        [
          {
            "node": "Agent Beatport",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agent Beatport": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Bc MCP Client": {
      "ai_tool": [
        [
          {
            "node": "Agent Bandcamp",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Bc Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Agent Bandcamp",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Agent Bandcamp": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Google Sheet Validation Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheet Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Google Sheet Validation Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheet Validation Agent": {
      "main": [
        []
      ]
    },
    "Call 'Label Sheet'": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-03T15:18:41.103Z",
  "id": "kXwHMuZluC7KJuaC",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Label Sheet",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "134ilr5ikGxh3nvTAy4jJL5JZvwZLmCTqpgN8cgZ85yU",
          "mode": "list",
          "cachedResultName": "Labels",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/134ilr5ikGxh3nvTAy4jJL5JZvwZLmCTqpgN8cgZ85yU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Labels",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/134ilr5ikGxh3nvTAy4jJL5JZvwZLmCTqpgN8cgZ85yU/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -80,
        -112
      ],
      "id": "5cc2fff1-c174-48a9-a97c-3c43936037f0",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "bAIXuhfKCVK465E7",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c9617af9-d01b-4184-a5cf-9f9497403471",
              "leftValue": "={{ $json.N8N }}",
              "rightValue": "=Oui",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "d7ce151c-204d-449e-a77f-5dc42861c901",
              "leftValue": "={{ $json.Nom.toString() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        112,
        -112
      ],
      "id": "1c8d66c3-5a13-40de-93e0-f3133a189939",
      "name": "Filter new data"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "name"
            },
            {
              "name": "date"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -80,
        720
      ],
      "id": "4924ae6c-f06a-477a-9559-e3647e842099",
      "name": "LabelSheet Subworkflow"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        304,
        -112
      ],
      "id": "b4afdb09-2bb4-44b9-8b46-7d5ee9496767",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "134ilr5ikGxh3nvTAy4jJL5JZvwZLmCTqpgN8cgZ85yU",
          "mode": "list",
          "cachedResultName": "Labels",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/134ilr5ikGxh3nvTAy4jJL5JZvwZLmCTqpgN8cgZ85yU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Labels",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/134ilr5ikGxh3nvTAy4jJL5JZvwZLmCTqpgN8cgZ85yU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Pays": "={{ $json.output.country }}",
            "Genre": "={{ $json.output.genre }}",
            "Actif": "={{ $json.output.isActive }}",
            "Ouvert nouveaux": "={{ $json.output.isOpenNew }}",
            "Email demo": "={{ $json.output.emailDemo }}",
            "Vinyle": "={{ $json.output.vinyle }}",
            "Followers Sc": "={{ $json.output.scFollowers }}",
            "Soundcloud": "={{ $json.output.soundcloudLink }}",
            "Facebook": "={{ $json.output.facebookLink }}",
            "Instagram": "={{ $json.output.instagramLink }}",
            "Beatport": "={{ $json.output.beatportLink }}",
            "Bandcamp": "={{ $json.output.bandcampLink }}",
            "N8N": "Oui",
            "Nom": "={{ $json.output.name }}"
          },
          "matchingColumns": [
            "Nom"
          ],
          "schema": [
            {
              "id": "Nom",
              "displayName": "Nom",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pays",
              "displayName": "Pays",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Genre",
              "displayName": "Genre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Actif",
              "displayName": "Actif",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ouvert nouveaux",
              "displayName": "Ouvert nouveaux",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email demo",
              "displayName": "Email demo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dernier envoi",
              "displayName": "Dernier envoi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nb Envoi",
              "displayName": "Nb Envoi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nb Ecoute",
              "displayName": "Nb Ecoute",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nb Dl",
              "displayName": "Nb Dl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nb rep email",
              "displayName": "Nb rep email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Release EM",
              "displayName": "Release EM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Vinyle",
              "displayName": "Vinyle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Followers Sc",
              "displayName": "Followers Sc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Soundcloud",
              "displayName": "Soundcloud",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Facebook",
              "displayName": "Facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Instagram",
              "displayName": "Instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Beatport",
              "displayName": "Beatport",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Bandcamp",
              "displayName": "Bandcamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Top",
              "displayName": "Top",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Songstats",
              "displayName": "Songstats",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Beatstats",
              "displayName": "Beatstats",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "N8N",
              "displayName": "N8N",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        512,
        -240
      ],
      "id": "f5025a78-e3d4-4ab3-8c0c-a1b422c10982",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "v8DvM58rzyod8k9i",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Google Sheet",
        "height": 627,
        "width": 1238,
        "color": 4
      },
      "id": "475f2804-076f-483c-902e-643763756aa8",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -128,
        -288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Techno Scraper",
        "height": 851,
        "width": 1238,
        "color": 7
      },
      "id": "76571f34-d37c-45f5-990e-0294b7128512",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -128,
        368
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "openai/gpt-5-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        528,
        864
      ],
      "id": "f3b03668-1688-41ca-b590-b66576830ce8",
      "name": "5 mini",
      "credentials": {
        "openRouterApi": {
          "id": "zb2293xtkSB2aBnr",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Nom du label: {{ $json.name }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# 🎵 Agent SoundCloud - Extraction d'informations label\n\n## 🎯 Objectif\nExtraire les informations disponibles sur **SoundCloud** pour le label.\n\n## 📥 Données d'entrée\n- **Nom du label** (fourni dans le user prompt)\n\n## 🛠️ Processus\n\n### 1. Rechercher le profil SoundCloud\n\nUtiliser le tool **soundcloud_search_profiles** avec ces paramètres :\n- `query`: Le nom exact du label (fourni en entrée)\n- `page`: 1\n- `limit`: 10\n\nLe tool retourne une liste de profils avec ces champs :\n- `id`: ID utilisateur SoundCloud\n- `name`: Nom du profil\n- `url`: URL du profil\n- `avatar_url`: Photo de profil\n- `bio`: Biographie/description\n- `location`: Localisation\n- `followers_count`: Nombre de followers\n- `social_links`: Array de liens sociaux (Facebook, Instagram, Bandcamp, etc.)\n\n### 2. Sélectionner le profil le plus pertinent\n\nParmi les résultats, choisir le profil le plus pertinent selon cette logique :\n\n**Critères de sélection (par ordre de priorité) :**\n\n1. **Correspondance du nom**\n   - Le nom doit correspondre exactement ou très proche au nom du label\n   - Les labels peuvent avoir \"Records\", \"Recordings\", \"Label\", \"Music\" ajouté au nom\n   - Ignorer les profils avec des noms trop éloignés\n\n2. **Bio renseignée**\n   - Préférer les profils avec une bio complète\n   - Une bio mentionnant l'activité du label (styles musicaux, artistes signés, collectif) est un bon indicateur\n\n3. **Présence de social_links**\n   - Les profils officiels ont généralement des liens vers Instagram, Facebook, etc.\n   - Plus il y a de liens sociaux, plus le profil est légitime\n\n4. **Nombre de followers**\n   - À pertinence égale, choisir le profil avec le plus de followers\n\n⚠️ **Important** : Ne PAS choisir automatiquement le premier résultat. Analyser plusieurs profils.\n✅ Si aucun profil ne semble suffisamment pertinent, ne retourner aucune donnée.\n\n### 3. Extraire les informations\n\nUne fois le profil pertinent sélectionné, extraire :\n\n#### **Pays (country)**\n- Extraire depuis le champ `location`\n- Si mentionné dans la bio, utiliser cette info\n- Laisser vide si introuvable\n\n#### **Email demo (emailDemo)**\n\nExtraction depuis la bio selon ces règles (par ordre de priorité) :\n\n1. **Email contenant \"demo\"**\n   - Chercher un email avec \"demo\" (ex: demo@label.com, senddemos@label.com)\n   - Priorité absolue si trouvé\n\n2. **Gestion de l'obfuscation**\n   - Si l'email est obfusqué : `demo(at)label.com`, `demo[at]gmail(dot)com`\n   - Corriger et retourner formaté : `demo@label.com`\n\n3. **Mentions particulières**\n   - Si la bio contient \"do not send demos\", \"we don't accept demos\" → NE PAS extraire d'email\n   - Si ambiguïté, laisser vide\n\n4. **Formulaire**\n   - Si lien vers formulaire (Google Form, Typeform, etc.) → retourner l'URL complète\n   - Si formulaire mentionné mais URL absente → retourner \"FORM\"\n\n5. **Email générique**\n   - Si aucun email demo trouvé mais email générique existe (contact@label.com)\n   - Vérifier qu'il n'y a pas d'interdiction d'envoi de démos\n   - Sinon, retourner cet email\n\n6. **Si rien trouvé** → Laisser le champ vide\n\n#### **Nombre de followers (scFollowers)**\n- Extraire depuis `followers_count`\n- Retourner 0 si profil non trouvé\n\n#### **Liens (soundcloudLink, facebookLink, instagramLink, beatportLink, bandcampLink)**\n- `soundcloudLink`: Le champ `url` du profil\n- Les autres liens : extraire depuis `social_links` array\n  - Chercher `platform` = \"facebook\" → extraire `url`\n  - Chercher `platform` = \"instagram\" → extraire `url`\n  - Chercher `platform` = \"beatport\" → extraire `url`\n  - Chercher `platform` = \"bandcamp\" → extraire `url`\n- Laisser vide si non trouvé\n\n## ❗ Règles Importantes\n\n🔴 **Ne jamais inventer une information.**\n✔️ Si une donnée est introuvable, **ne pas remplir le champ** plutôt que de générer une fausse information.\n\n## 📤 Format de sortie\n\nRetourner uniquement un JSON structuré :\n\n```json\n{\n  \"country\": \"Valeur ou vide\",\n  \"emailDemo\": \"Valeur ou vide\",\n  \"scFollowers\": 0,\n  \"soundcloudLink\": \"Valeur ou vide\",\n  \"facebookLink\": \"Valeur ou vide\",\n  \"instagramLink\": \"Valeur ou vide\",\n  \"beatportLink\": \"Valeur ou vide\",\n  \"bandcampLink\": \"Valeur ou vide\"\n}\n\nNe pas ajouter de commentaires ni d'explications, uniquement le JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        144,
        432
      ],
      "id": "972bafef-8b3e-46fe-b054-feba7149c94f",
      "name": "Agent Soundcloud",
      "executeOnce": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Nom du label: {{ $json.name }}\nDate du jour: {{ $json.date }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# 🎧 Agent Beatport - Extraction d'informations label\n\n## 🎯 Objectif\nExtraire les informations sur **Beatport** concernant le label.\n\n## 📥 Données d'entrée\n- **Nom du label** (fourni dans le user prompt)\n- **Date du jour** (format YYYY-MM-DD, fourni dans le user prompt)\n\n## 🛠️ Processus\n\n### 1. Rechercher le label sur Beatport\n\nUtiliser le tool **beatport_search** avec ces paramètres :\n- `query`: Le nom exact du label\n- `page`: 1\n- `limit`: 10\n- `entity_type`: \"label\"\n\nLe tool retourne un objet avec :\n- `labels`: Array de labels trouvés, chaque label contient :\n  - `id`: ID numérique du label\n  - `name`: Nom du label\n  - `url`: URL de la page Beatport\n  - `avatar_url`: Logo du label\n\n### 2. Sélectionner le label le plus pertinent\n\nParmi les résultats, choisir le label le plus pertinent selon cette logique :\n\n**Critères de sélection (par ordre de priorité) :**\n\n1. **Correspondance exacte du nom**\n   - Le nom doit correspondre exactement ou très fortement au nom recherché\n   - Accepter les variantes courantes (avec/sans \"Records\", \"Recordings\", etc.)\n\n2. **Présence d'un avatar**\n   - Les labels officiels ont généralement un logo\n\n3. **URL propre**\n   - En cas d'ambiguïté, choisir celui avec une URL propre (pas de chiffres bizarres dans le slug)\n   - Si plusieurs candidats, prendre le premier\n\n⚠️ **Important** : Ne PAS choisir automatiquement le premier résultat si le nom ne correspond pas.\n✅ Si aucun label ne semble suffisamment pertinent, ne retourner aucune donnée.\n\nUne fois le label sélectionné, extraire :\n- `entity_id`: Le champ `id` (ex: 22038)\n- `entity_slug`: Extraire depuis l'URL (ex: \"drumzone-records\" depuis https://www.beatport.com/label/drumzone-records/22038)\n- `beatportLink`: Le champ `url`\n\n### 3. Récupérer les releases sur 1 an\n\nUtiliser le tool **beatport_get_label_releases** avec ces paramètres :\n- `entity_slug`: Le slug extrait à l'étape 2\n- `entity_id`: L'ID extrait à l'étape 2 (convertir en string)\n- `page`: 1\n- `limit`: 50\n- `start_date`: Date du jour MOINS 1 an (calculer : date - 365 jours, format YYYY-MM-DD)\n\n**Exemple** : Si date = \"2025-07-01\", alors start_date = \"2024-07-01\"\n\nLe tool retourne :\n- `releases`: Array de releases\n- `facets`: Objet contenant les statistiques de genres\n\n### 4. Analyser et extraire les données\n\n#### **Genre musical (genre)**\n\nExtraire depuis `facets.fields.genre` :\n- C'est un array de `{ name: \"Genre Name\", count: 10 }`\n- Prendre le genre avec le **count le plus élevé**\n- En cas d'égalité, utiliser l'ordre de priorité du tableau ci-dessous (du haut vers le bas)\n\n**Mapping beatportGenre → genre :**\n\n| beatportGenre (name dans facets)        | genre (à retourner) |\n|------------------------------------------|---------------------|\n| Techno (Peak Time / Driving)             | Peak Time           |\n| Techno (Raw / Deep / Hypnotic)           | Techno              |\n| Progressive House                        | Progressive         |\n| Melodic House & Techno                   | Melodic             |\n| Minimal / Deep Tech                      | Deep House          |\n| Deep House                               | Deep House          |\n| Downtempo                                | Deep House          |\n| Trance (Main Floor)                      | Trance              |\n| Trance (Raw / Deep / Hypnotic)           | Trance              |\n\n**Exemple** :\n```json\n\"facets\": {\n  \"fields\": {\n    \"genre\": [\n      { \"name\": \"Techno (Peak Time / Driving)\", \"count\": 32 },\n      { \"name\": \"DJ Tools\", \"count\": 21 },\n      { \"name\": \"Deep House\", \"count\": 5 }\n    ]\n  }\n}\n```\n→ beatportGenre = \"Techno (Peak Time / Driving)\" (count le plus élevé)\n→ genre = \"Peak Time\" (selon mapping)\n\n#### **Label actif (isActive)**\n\n- Compter le nombre de releases dans l'array `releases`\n- Si **≥ 10 releases** → isActive = true\n- Sinon → isActive = false\n\n#### **Label ouvert aux nouveaux artistes (isOpenNew)**\n\n- Pour chaque release dans `releases`, extraire les artistes\n- Compter le nombre **d'artistes uniques** (par nom ou par ID si disponible)\n- Si **≥ 3 artistes différents** → isOpenNew = true\n- Sinon → isOpenNew = false\n\n## ❗ Règles Importantes\n\n🔴 **Ne jamais inventer une information.**\n✔️ Si une donnée est introuvable, **ne pas remplir le champ** plutôt que de générer une fausse information.\n\n## 📤 Format de sortie\n\nRetourner uniquement un JSON structuré :\n\n```json\n{\n  \"genre\": \"Valeur ou vide\",\n  \"isActive\": true,\n  \"isOpenNew\": false,\n  \"beatportLink\": \"Valeur ou vide\"\n}\n```\n\nNe pas ajouter de commentaires ni d'explications, uniquement le JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        160,
        672
      ],
      "id": "7bdd7bbf-de99-443a-8349-cf3621382881",
      "name": "Agent Beatport",
      "alwaysOutputData": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"country\": {\n      \"type\": \"string\",\n      \"description\": \"Pays d'origine du label (champ 'location' ou bio SoundCloud). Chaîne vide si introuvable.\"\n    },\n    \"emailDemo\": {\n      \"type\": \"string\",\n      \"description\": \"Email/formulaire pour démos (bio SoundCloud). Email, URL de formulaire, 'FORM', ou chaîne vide.\"\n    },\n    \"scFollowers\": {\n      \"type\": \"number\",\n      \"description\": \"Nombre de followers SoundCloud (champ 'followers_count'). Retourner 0 si profil introuvable.\",\n      \"minimum\": 0\n    },\n    \"soundcloudLink\": {\n      \"type\": \"string\",\n      \"description\": \"URL du profil SoundCloud. Chaîne vide si profil introuvable.\"\n    },\n    \"facebookLink\": {\n      \"type\": \"string\",\n      \"description\": \"URL Facebook (social_links platform='facebook'). Chaîne vide si non trouvé.\"\n    },\n    \"instagramLink\": {\n      \"type\": \"string\",\n      \"description\": \"URL Instagram (social_links platform='instagram'). Chaîne vide si non trouvé.\"\n    },\n    \"beatportLink\": {\n      \"type\": \"string\",\n      \"description\": \"URL Beatport (social_links platform='beatport'). Chaîne vide si non trouvé.\"\n    },\n    \"bandcampLink\": {\n      \"type\": \"string\",\n      \"description\": \"URL Bandcamp (social_links platform='bandcamp'). Chaîne vide si non trouvé.\"\n    }\n  },\n  \"required\": [\"scFollowers\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        304,
        560
      ],
      "id": "8b18623a-eebf-4169-9085-2f3839481a0b",
      "name": "Sc Output Parser"
    },
    {
      "parameters": {
        "endpointUrl": "http://techno-scraper-mcp:8080/sse",
        "authentication": "headerAuth",
        "include": "selected",
        "includeTools": [
          "soundcloud_search_profiles",
          "soundcloud_get_profile"
        ],
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        208,
        560
      ],
      "id": "3cec57ab-9d1c-4f94-91dc-fba759dc2f9d",
      "name": "Sc MCP Client",
      "credentials": {
        "httpHeaderAuth": {
          "id": "bulfwAb0SuH0gpD8",
          "name": "Techno scrapper auth"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"genre\": {\n      \"type\": \"string\",\n      \"description\": \"Genre musical principal du label (facets Beatport mappé selon le tableau). Chaîne vide si pas de releases ou facets vides.\"\n    },\n    \"isActive\": {\n      \"type\": \"boolean\",\n      \"description\": \"True si le label a au moins 10 releases sur 12 mois, false sinon. Ce champ est toujours calculable.\"\n    },\n    \"isOpenNew\": {\n      \"type\": \"boolean\",\n      \"description\": \"True si au moins 3 artistes uniques sur les releases, false sinon. Ce champ est toujours calculable.\"\n    },\n    \"beatportLink\": {\n      \"type\": \"string\",\n      \"description\": \"URL de la page Beatport du label. Chaîne vide si label introuvable.\"\n    }\n  },\n  \"required\": [\"isActive\", \"isOpenNew\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        288,
        816
      ],
      "id": "c62b5082-2e03-4ff5-8b9a-367fdf58dc87",
      "name": "Bp Output Parser"
    },
    {
      "parameters": {
        "endpointUrl": "http://techno-scraper-mcp:8080/sse",
        "authentication": "headerAuth",
        "include": "selected",
        "includeTools": [
          "beatport_search",
          "beatport_get_label_releases"
        ],
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        176,
        816
      ],
      "id": "c72841cb-d809-4f23-a604-e644f1f23fc0",
      "name": "Sc MCP Client1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "bulfwAb0SuH0gpD8",
          "name": "Techno scrapper auth"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Nom du label: {{ $json.name }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# 🎸 Agent Bandcamp - Extraction d'informations label\n\n## 🎯 Objectif\nExtraire les informations sur **Bandcamp** concernant le label.\n\n## 📥 Données d'entrée\n- **Nom du label** (fourni dans le user prompt)\n\n## 🛠️ Processus\n\n### 1. Rechercher le label sur Bandcamp\n\nUtiliser le tool **bandcamp_search** avec ces paramètres :\n- `query`: Le nom exact du label\n- `page`: 1\n- `entity_type`: \"bands\"\n\nLe tool retourne un objet avec :\n- `bands`: Array de labels/artistes trouvés, chaque élément contient :\n  - `id`: ID Bandcamp\n  - `name`: Nom du label/artiste\n  - `url`: URL de la page Bandcamp\n  - `avatar_url`: Logo/image\n  - `location`: Localisation\n  - `genre`: Genre musical\n\n### 2. Sélectionner le label le plus pertinent\n\nParmi les résultats, choisir le label le plus pertinent selon cette logique :\n\n**Critères de sélection (par ordre de priorité) :**\n\n1. **Correspondance exacte du nom**\n   - Le nom doit correspondre exactement ou très fortement au nom recherché\n   - Accepter les variantes courantes (avec/sans \"Records\", \"Recordings\", etc.)\n\n2. **Présence d'un avatar**\n   - Les labels officiels ont généralement un logo\n\n3. **URL propre**\n   - Préférer les URLs courtes et propres (ex: `labelname.bandcamp.com`)\n   - Éviter les URLs avec beaucoup de chiffres ou caractères bizarres\n\n4. **Genre cohérent**\n   - Si le champ `genre` est renseigné, vérifier qu'il correspond au style attendu\n\n⚠️ **Important** : Ne PAS choisir automatiquement le premier résultat si le nom ne correspond pas.\n✅ Si aucun label ne semble suffisamment pertinent, ne retourner aucune donnée.\n\n### 3. Extraire les informations\n\nUne fois le label sélectionné, extraire :\n\n#### **Lien Bandcamp (bandcampLink)**\n- Extraire depuis le champ `url` du profil sélectionné\n- Laisser vide si aucun profil pertinent trouvé\n\n#### **Vinyle (vinyle)**\n- ⚠️ **Non disponible actuellement** avec le tool de recherche\n- Laisser ce champ vide pour l'instant\n- Note: Nécessiterait un scraping de la page détaillée du label\n\n## ❗ Règles Importantes\n\n🔴 **Ne jamais inventer une information.**\n✔️ Si une donnée est introuvable, **ne pas remplir le champ** plutôt que de générer une fausse information.\n\n## 📤 Format de sortie\n\nRetourner uniquement un JSON structuré :\n\n```json\n{\n  \"vinyle\": false,\n  \"bandcampLink\": \"Valeur ou vide\"\n}\n\nNe pas ajouter de commentaires ni d'explications, uniquement le JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        160,
        960
      ],
      "id": "e80e9ea1-9f96-45a0-bfb0-3f44d518d227",
      "name": "Agent Bandcamp",
      "alwaysOutputData": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "endpointUrl": "http://techno-scraper-mcp:8080/sse",
        "authentication": "headerAuth",
        "include": "selected",
        "includeTools": [
          "bandcamp_search"
        ],
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        176,
        1120
      ],
      "id": "f9bc25ec-c7df-49d2-aeec-4227210a847d",
      "name": "Bc MCP Client",
      "credentials": {
        "httpHeaderAuth": {
          "id": "bulfwAb0SuH0gpD8",
          "name": "Techno scrapper auth"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"vinyle\": {\n      \"type\": \"boolean\",\n      \"description\": \"True si le label vend des vinyles. False par défaut car cette information n'est pas disponible via l'API de recherche Bandcamp actuelle.\"\n    },\n    \"bandcampLink\": {\n      \"type\": \"string\",\n      \"description\": \"URL de la page Bandcamp du label. Chaîne vide si label introuvable.\"\n    }\n  },\n  \"required\": []\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        320,
        1120
      ],
      "id": "9de5bbfe-1297-4f8c-b0e9-521962cef5d6",
      "name": "Bc Output Parser"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        688,
        528
      ],
      "id": "6d5df22f-1231-400b-b735-9d4b6a88b012",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Le merge retourne un array avec les 3 outputs\nconst items = $input.all();\n\n// Extraire les données de chaque item\nconst allData = items.map(item => item.json.output || item.json);\n\n// Identifier chaque source par leur posiiton dans le tableau\nconst soundcloudData = allData[0] || {};\nconst beatportData = allData[1] || {};\nconst bandcampData = allData[2] || {};\n\n// Récupérer le nom du label depuis le Google Sheet Trigger\nconst labelName = $('LabelSheet Subworkflow').first().json.name;\n\n// Retourner l'objet structuré\nreturn {\n  name: labelName,\n  soundcloud: soundcloudData,\n  beatport: beatportData,\n  bandcamp: bandcampData\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        528
      ],
      "id": "566bba25-47b3-42f0-a57c-499c20774d3a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"name\": \"Nom du label\",\n  \"country\": \"Valeur si trouvée, sinon champ vide\",\n  \"genre\": \"Valeur si trouvée, sinon champ vide\",\n  \"isActive\": \"Oui/Non si trouvé, sinon champ vide\",\n  \"isOpenNew\": \"Oui/Non si trouvé, sinon champ vide\",\n  \"emailDemo\": \"Valeur si trouvée, sinon champ vide\",\n  \"vinyle\": \"Oui/Non si trouvé, sinon champ vide\",\n  \"scFollowers\": \"Valeur numérique si trouvée, sinon champ vide\",\n  \"soundcloudLink\": \"URL si trouvée, sinon champ vide\",\n  \"facebookLink\": \"URL si trouvée, sinon champ vide\",\n  \"instagramLink\": \"URL si trouvée, sinon champ vide\",\n  \"beatportLink\": \"URL si trouvée, sinon champ vide\",\n  \"bandcampLink\": \"URL si trouvée, sinon champ vide\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1088,
        928
      ],
      "id": "2568a572-55d8-49ce-b5ba-959ffb35e141",
      "name": "Google Sheet Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Nom du label: {{ $json.name }}\nDonnées SoundCloud: {{ JSON.stringify($json.soundcloud) }}\nDonnées Beatport: {{ JSON.stringify($json.beatport) }}\nDonnées Bandcamp: {{ JSON.stringify($json.bandcamp) }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# 🔍 Agent de Validation et Fusion - Labels Musicaux\n\n## 🎯 Objectif\nFusionner et valider les données extraites des 3 sources (SoundCloud, Beatport, Bandcamp) en appliquant des règles de priorité pour produire un JSON final destiné au Google Sheet.\n\n## 📥 Données d'entrée\nL'agent reçoit en entrée :\n- **Le nom du label**\n- **Données SoundCloud** (country, emailDemo, scFollowers, liens sociaux)\n- **Données Beatport** (genre, isActive, isOpenNew, beatportLink)\n- **Données Bandcamp** (vinyle, bandcampLink)\n\n## 🛠️ Processus\n\n### 1. Récupération des données\nLes 3 agents (SoundCloud, Beatport, Bandcamp) ont déjà terminé leur extraction en parallèle.\nLeurs outputs sont fournis dans les données d'entrée.\n\n### 2. Application des règles de fusion\n\n#### **Champs uniques (copie directe)**\n- `emailDemo` → SoundCloud\n- `scFollowers` → SoundCloud\n- `soundcloudLink` → SoundCloud\n- `facebookLink` → SoundCloud\n- `instagramLink` → SoundCloud\n- `genre` → Beatport\n- `isActive` → Beatport\n- `isOpenNew` → Beatport\n- `vinyle` → Bandcamp\n\n#### **Champs avec priorités**\n\n**country** :\n1. SoundCloud (champ `country`) si non vide\n2. Sinon, Bandcamp (champ `location`) si disponible\n3. Sinon, laisser vide\n\n**beatportLink** :\n1. Beatport (champ `beatportLink`) si non vide\n2. Sinon, SoundCloud social_links (champ `beatportLink`) si disponible\n3. Sinon, laisser vide\n\n**bandcampLink** :\n1. Bandcamp (champ `bandcampLink`) si non vide\n2. Sinon, SoundCloud social_links (champ `bandcampLink`) si disponible\n3. Sinon, laisser vide\n\n### 3. Règles de validation\n- **Ne jamais inventer** : Si un champ est vide dans toutes les sources, le laisser vide\n- **Priorité à la source spécialisée** : SoundCloud pour les liens sociaux, Beatport pour le genre et l'activité\n\n## 📤 Format de sortie\n\nRetourner uniquement un JSON structuré :\n\n```json\n{\n  \"name\": \"{{ $json.name }}\",\n  \"country\": \"Valeur si trouvée, sinon champ vide\",\n  \"genre\": \"Valeur si trouvée, sinon champ vide\",\n  \"isActive\": \"Oui/Non si trouvé, sinon champ vide\",\n  \"isOpenNew\": \"Oui/Non si trouvé, sinon champ vide\",\n  \"emailDemo\": \"Valeur si trouvée, sinon champ vide\",\n  \"vinyle\": \"Oui/Non si trouvé, sinon champ vide\",\n  \"scFollowers\": \"Valeur numérique si trouvée, sinon champ vide\",\n  \"soundcloudLink\": \"URL si trouvée, sinon champ vide\",\n  \"facebookLink\": \"URL si trouvée, sinon champ vide\",\n  \"instagramLink\": \"URL si trouvée, sinon champ vide\",\n  \"beatportLink\": \"URL si trouvée, sinon champ vide\",\n  \"bandcampLink\": \"URL si trouvée, sinon champ vide\"\n}\n\nNe pas ajouter de commentaires ni d'explications, uniquement le JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        928,
        784
      ],
      "id": "8268badc-0cbc-4eff-a2b9-b6d09684d37d",
      "name": "Google Sheet Validation Agent"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "kXwHMuZluC7KJuaC",
          "mode": "list",
          "cachedResultUrl": "/workflow/kXwHMuZluC7KJuaC",
          "cachedResultName": "Label Sheet"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.Nom }}",
            "date": "={{ $today }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        512,
        -96
      ],
      "id": "6c6b9ca1-ffa7-4f12-8f42-d446fca249ae",
      "name": "Call 'Label Sheet'"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "zSl3wxrgtLrk7m2j"
  },
  "shared": [
    {
      "createdAt": "2025-11-03T15:18:41.107Z",
      "updatedAt": "2025-11-03T15:18:41.107Z",
      "role": "workflow:owner",
      "workflowId": "kXwHMuZluC7KJuaC",
      "projectId": "TBUFy0KozocPEXEX"
    }
  ],
  "staticData": {
    "node:Google Sheets Trigger": {
      "documentId": "134ilr5ikGxh3nvTAy4jJL5JZvwZLmCTqpgN8cgZ85yU",
      "sheetId": 0,
      "lastRevision": 7852,
      "lastRevisionLink": "https://docs.google.com/spreadsheets/export?id=134ilr5ikGxh3nvTAy4jJL5JZvwZLmCTqpgN8cgZ85yU&revision=7852&exportFormat=xlsx"
    }
  },
  "tags": [
    {
      "createdAt": "2025-08-07T10:25:02.468Z",
      "updatedAt": "2025-08-07T10:25:02.468Z",
      "id": "NNXPfNAEfEIlBHrI",
      "name": "music"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-11-03T17:58:29.000Z",
  "versionId": "db0146bc-1397-4dd3-9f70-50902f3ee069"
}