workflows/music/Mitkczrl445MAz26.json
{
  "active": false,
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Agent Techno Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Techno Scraper": {
      "main": [
        [
          {
            "node": "Request Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request Webhook": {
      "main": [
        [],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt 5 mini": {
      "ai_languageModel": [
        [
          {
            "node": "Agent Techno Scraper",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Techno Scraper MCP": {
      "ai_tool": [
        [
          {
            "node": "Agent Techno Scraper",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Agent Techno Scraper",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-04T09:26:19.029Z",
  "id": "Mitkczrl445MAz26",
  "isArchived": false,
  "meta": null,
  "name": "Techno Scraper MCP",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Nom du label: {{ $json.labelName }}\nDate du jour: {{ $json.date }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "={{ $json.prompt }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        528,
        128
      ],
      "id": "10190a86-6b3e-4bf3-b03d-e8f8342e4957",
      "name": "Agent Techno Scraper",
      "alwaysOutputData": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "labelName"
            },
            {
              "name": "date"
            },
            {
              "name": "prompt"
            },
            {
              "name": "parser"
            },
            {
              "name": "webhookUrl"
            }
          ]
        }
      },
      "id": "d2bc9964-3862-4e5a-b93b-e0b66a44fd9c",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        320,
        128
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Start').first().json.webhookUrl }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "result",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c9a27be0-6e01-4cc0-b4ad-6fb185b720b8",
      "name": "Request Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        880,
        128
      ],
      "retryOnFail": true,
      "typeVersion": 4.2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "errorMessage": "=Error Webhook : {{ $('Start').first().json.webhookUrl }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1104,
        208
      ],
      "id": "aa48f7a0-eabd-498c-a9d4-6e89cc42961d",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "model": "openai/gpt-5-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        480,
        288
      ],
      "id": "fdce2995-f66b-49f1-9f97-c22e268d2230",
      "name": "gpt 5 mini",
      "credentials": {
        "openRouterApi": {
          "id": "zb2293xtkSB2aBnr",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "http://techno-scraper-mcp:8080/sse",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        592,
        288
      ],
      "id": "0c55a522-91d9-429f-aa48-cd89fcc43c0c",
      "name": "Techno Scraper MCP",
      "credentials": {
        "httpHeaderAuth": {
          "id": "bulfwAb0SuH0gpD8",
          "name": "Techno scrapper auth"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "={{ $json.parser }}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        720,
        288
      ],
      "id": "5ba161b4-2e06-4ec5-b33c-bdb2936a2a21",
      "name": "Output Parser"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-11-04T09:26:19.034Z",
      "updatedAt": "2025-11-04T09:26:19.034Z",
      "role": "workflow:owner",
      "workflowId": "Mitkczrl445MAz26",
      "projectId": "TBUFy0KozocPEXEX"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-08-07T10:25:02.468Z",
      "updatedAt": "2025-08-07T10:25:02.468Z",
      "id": "NNXPfNAEfEIlBHrI",
      "name": "music"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-11-04T13:05:11.000Z",
  "versionId": "408a1703-838d-4247-92ca-1b063ffb2d22"
}