workflows/n8n/5i3XCsHa1o3p6RSV.json
{
  "active": false,
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Map error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map error": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt 4.1 mini": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-04T12:59:39.726Z",
  "id": "5i3XCsHa1o3p6RSV",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Error workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        912,
        320
      ],
      "id": "54d72ade-e957-4d84-864a-5522ad27d32d",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "text": "=Voici l'erreur : {{ $json.error }}",
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"details\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}",
        "options": {
          "systemPromptTemplate": "=Tu es un expert en extraction algorithmique.\nTon role est d'analyser une erreur suite à une execution d'un worfklow sur n8n.\nTu dois résumer de manière la plus concise possible et ne rien expliquer d'autre.\n\nMon message suivant est composé de :\nWorkflow: Nom du workflow en erreur !\nDate : Date et heure de l'erreur.\nLast node: Dernier node executé.\n\nDetails: \nC'est ici que je te demande de l'aide.\n\nStack trace:\nJe possède déjà la stack trace ne me la retourne pas.\n\nJ'ai uniquement besoin que tu m'aide pour le détails. Je possède déjà les autres informations, pas besoin de le répeter.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        1296,
        320
      ],
      "id": "de4fb53f-c83f-404e-b430-e9086b323b3a",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1273be01-790a-4eec-9c5d-38e876046d7d",
              "name": "error",
              "value": "={{ $json.execution.error }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        320
      ],
      "id": "b2912082-580a-4205-b3cb-fa5ac6dd66e7",
      "name": "Map error"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1296,
        464
      ],
      "id": "0b717335-d3f3-4859-99c6-fd9ec9223b1e",
      "name": "gpt 4.1 mini",
      "credentials": {
        "openRouterApi": {
          "id": "oWHcuiJFiXex2Irs",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "contact@empiricmind.fr",
        "subject": "=[n8n] Erreur - Workflow: {{ $('Error Trigger').item.json.workflow.name }}",
        "emailType": "text",
        "message": "=Une erreur est survenue sur:\n\nWorkflow: {{ $('Error Trigger').item.json.workflow.name }} en erreur !\nDate : {{ $now.toDateTime().setLocale('fr').toFormat('dd/MM/yyyy - HH:mm') }}\nLast node: {{ $('Error Trigger').item.json.execution.lastNodeExecuted }}\n\nDetails: \n{{ $json.output.details }}\n\nStack trace:\n{{ $('Error Trigger').item.json.execution.error.stack }}\n\nThibaud",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1632,
        320
      ],
      "id": "dac498ac-d51b-4061-a55c-ef8bf7e6f1b8",
      "name": "Send a message",
      "webhookId": "b786a5b1-8b6a-4493-9de2-4d0644efef68",
      "credentials": {
        "gmailOAuth2": {
          "id": "T9CGqnwfgTkuFzZ3",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-08-05T10:57:33.470Z",
      "updatedAt": "2025-08-05T10:57:33.470Z",
      "id": "ZwCZDslRNXfFr5J6",
      "name": "n8n"
    },
    {
      "createdAt": "2025-08-04T13:00:28.485Z",
      "updatedAt": "2025-08-04T13:00:28.485Z",
      "id": "joHJ4UQPQAHMJpWn",
      "name": "gmail"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-08-05T10:57:51.000Z",
  "versionId": "0b780971-4eda-498c-b964-07b78280f8fa"
}