workflows/n8n/zSl3wxrgtLrk7m2j.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-12-03T17:30:58.237Z",
    "createdAt": "2025-12-03T17:30:58.237Z",
    "versionId": "437b9641-a220-49d4-bcde-452a9fd27e04",
    "workflowId": "zSl3wxrgtLrk7m2j",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          -192,
          128
        ],
        "id": "3175742f-a465-4a5d-911f-0be48c376bbd",
        "name": "Error Trigger"
      },
      {
        "parameters": {
          "text": "=Voici l'erreur : {{ $json.error }}",
          "schemaType": "manual",
          "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"details\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}",
          "options": {
            "systemPromptTemplate": "=Tu es un expert en extraction algorithmique.\nTon role est d'analyser une erreur suite à une execution d'un worfklow sur n8n.\nTu dois résumer de manière la plus concise possible et ne rien expliquer d'autre.\n\nMon message suivant est composé de :\nWorkflow: Nom du workflow en erreur !\nDate : Date et heure de l'erreur.\nLast node: Dernier node executé.\n\nDetails: \nC'est ici que je te demande de l'aide.\n\nStack trace:\nJe possède déjà la stack trace ne me la retourne pas.\n\nJ'ai uniquement besoin que tu m'aide pour le détails. Je possède déjà les autres informations, pas besoin de le répeter.\n"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.informationExtractor",
        "typeVersion": 1,
        "position": [
          192,
          128
        ],
        "id": "91a357d6-37f8-425c-91fe-990f8bca4a11",
        "name": "Information Extractor"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1273be01-790a-4eec-9c5d-38e876046d7d",
                "name": "error",
                "value": "={{ $json.execution.error }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          16,
          128
        ],
        "id": "1bdbb80f-f549-4fc7-9cc4-b1f8822a6386",
        "name": "Map error"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          192,
          272
        ],
        "id": "13196eaf-d207-4264-a62f-c708b97a686b",
        "name": "gpt 4.1 mini",
        "credentials": {
          "openRouterApi": {
            "id": "zb2293xtkSB2aBnr",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "sendTo": "contact@empiricmind.fr",
          "subject": "=[n8n] Erreur - Workflow: {{ $('Error Trigger').item.json.workflow.name }}",
          "emailType": "text",
          "message": "=Une erreur est survenue sur:\n\nWorkflow: {{ $('Error Trigger').item.json.workflow.name }} en erreur !\nDate : {{ $now.toDateTime().setLocale('fr').toFormat('dd/MM/yyyy - HH:mm') }}\nLast node: {{ $('Error Trigger').item.json.execution.lastNodeExecuted }}\n\nDetails: \n{{ $json.output.details }}\n\nStack trace:\n{{ $('Error Trigger').item.json.execution.error.stack }}\n\nThibaud",
          "options": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          528,
          128
        ],
        "id": "c309468d-ef4d-4f43-855d-fcf9010caca8",
        "name": "Send a message",
        "webhookId": "b786a5b1-8b6a-4493-9de2-4d0644efef68",
        "credentials": {
          "gmailOAuth2": {
            "id": "MgAPt5sS5VxrQMNr",
            "name": "Gmail account"
          }
        }
      }
    ],
    "connections": {
      "Error Trigger": {
        "main": [
          [
            {
              "node": "Map error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Information Extractor": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Map error": {
        "main": [
          [
            {
              "node": "Information Extractor",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "gpt 4.1 mini": {
        "ai_languageModel": [
          [
            {
              "node": "Information Extractor",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null
  },
  "activeVersionId": "437b9641-a220-49d4-bcde-452a9fd27e04",
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Map error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map error": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt 4.1 mini": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-07T10:20:13.935Z",
  "id": "zSl3wxrgtLrk7m2j",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Error workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -192,
        128
      ],
      "id": "3175742f-a465-4a5d-911f-0be48c376bbd",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "text": "=Voici l'erreur : {{ $json.error }}",
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"details\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}",
        "options": {
          "systemPromptTemplate": "=Tu es un expert en extraction algorithmique.\nTon role est d'analyser une erreur suite à une execution d'un worfklow sur n8n.\nTu dois résumer de manière la plus concise possible et ne rien expliquer d'autre.\n\nMon message suivant est composé de :\nWorkflow: Nom du workflow en erreur !\nDate : Date et heure de l'erreur.\nLast node: Dernier node executé.\n\nDetails: \nC'est ici que je te demande de l'aide.\n\nStack trace:\nJe possède déjà la stack trace ne me la retourne pas.\n\nJ'ai uniquement besoin que tu m'aide pour le détails. Je possède déjà les autres informations, pas besoin de le répeter.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        192,
        128
      ],
      "id": "91a357d6-37f8-425c-91fe-990f8bca4a11",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1273be01-790a-4eec-9c5d-38e876046d7d",
              "name": "error",
              "value": "={{ $json.execution.error }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        128
      ],
      "id": "1bdbb80f-f549-4fc7-9cc4-b1f8822a6386",
      "name": "Map error"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        192,
        272
      ],
      "id": "13196eaf-d207-4264-a62f-c708b97a686b",
      "name": "gpt 4.1 mini",
      "credentials": {
        "openRouterApi": {
          "id": "zb2293xtkSB2aBnr",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "contact@empiricmind.fr",
        "subject": "=[n8n] Erreur - Workflow: {{ $('Error Trigger').item.json.workflow.name }}",
        "emailType": "text",
        "message": "=Une erreur est survenue sur:\n\nWorkflow: {{ $('Error Trigger').item.json.workflow.name }} en erreur !\nDate : {{ $now.toDateTime().setLocale('fr').toFormat('dd/MM/yyyy - HH:mm') }}\nLast node: {{ $('Error Trigger').item.json.execution.lastNodeExecuted }}\n\nDetails: \n{{ $json.output.details }}\n\nStack trace:\n{{ $('Error Trigger').item.json.execution.error.stack }}\n\nThibaud",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        528,
        128
      ],
      "id": "c309468d-ef4d-4f43-855d-fcf9010caca8",
      "name": "Send a message",
      "webhookId": "b786a5b1-8b6a-4493-9de2-4d0644efef68",
      "credentials": {
        "gmailOAuth2": {
          "id": "MgAPt5sS5VxrQMNr",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-08-07T10:20:13.942Z",
      "createdAt": "2025-08-07T10:20:13.942Z",
      "role": "workflow:owner",
      "workflowId": "zSl3wxrgtLrk7m2j",
      "projectId": "TBUFy0KozocPEXEX"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-08-07T10:22:01.636Z",
      "createdAt": "2025-08-07T10:22:01.636Z",
      "id": "wirLDhY1stP4zoD9",
      "name": "n8n"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-08-07T10:34:50.000Z",
  "versionId": "437b9641-a220-49d4-bcde-452a9fd27e04"
}