workflows/sheet/wDWa7UOKQOFX11Cd.json
{
  "active": false,
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Filter new data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter new data": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Execution Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Soundcloud Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Set Soundcloud Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Facebook Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Instagram Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Beatport Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Bandcamp Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Soundcloud Prompt": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        []
      ]
    },
    "Set Instagram Prompt": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Facebook Prompt": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Bandcamp Prompt": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Beatport Prompt": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BraveSearch Tools": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "BraveSearch Execution": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Execution Data": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-23T17:37:50.435Z",
  "id": "wDWa7UOKQOFX11Cd",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Label Sheet",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "134ilr5ikGxh3nvTAy4jJL5JZvwZLmCTqpgN8cgZ85yU",
          "mode": "list",
          "cachedResultName": "Labels",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/134ilr5ikGxh3nvTAy4jJL5JZvwZLmCTqpgN8cgZ85yU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Labels",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/134ilr5ikGxh3nvTAy4jJL5JZvwZLmCTqpgN8cgZ85yU/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -260,
        -120
      ],
      "id": "65c198fd-b65c-4eeb-8360-c5230ae18e16",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "lw1QeIZo3SAkk17L",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c9617af9-d01b-4184-a5cf-9f9497403471",
              "leftValue": "={{ $json.N8N }}",
              "rightValue": "=Oui",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -40,
        -120
      ],
      "id": "76f9a0e8-b9ca-4863-a021-4b5916946687",
      "name": "Filter new data"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Nom du label: {{ $json.Nom }}\nDate du jour: {{ $today }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# 🏷️ Agent IA de Remplissage Automatique pour Google Sheet – Labels Musicaux  \n\n## 🎯 Objectif  \nAutomatiser la collecte et le remplissage des informations d’un label musical dans un **Google Sheet** en exploitant un agent IA utilisant le **Model Context Protocol Server (MCP)** et le moteur de recherche **Brave Search**.\n\nAfin de répartir la charge et d'améliorer l'efficacité du processus, nous orchestrons et distribuons les tâches à plusieurs **sous-agents spécialisés** (SoundCloud, Facebook, Instagram, Beatport, Bandcamp). Chaque sous-agent est responsable de l’extraction des données sur sa plateforme respective.\n\nTon but est donc de coordonner l’exécution des sous-agents et rassembler les données extraites dans un format JSON structuré.  \n\n---\n\n## 📥 Données d’entrée  \nL’agent reçoit en entrée :  \n- **Le nom du label** *(exemple : \"Afterlife Recordings\")* \n- **La date du jour** *(exemple : \"[DateTime: 2025-03-23T00:00:00.000+01:00]\")* \n\n---\n\n## 📥 Données d’entrée  \nL’agent reçoit en entrée :  \n- **Le nom du label** *(exemple : \"Afterlife Recordings\")* \n- **La date du jour** *(exemple : \"[DateTime: 2025-03-23T00:00:00.000+01:00]\")* \n\n---\n\n### **🛠️ Processus**  \n1. Transmettre les inputs aux sous agents en indiquant **name** pour le nom du label et **date** au format (YYYY-MM-DD).\n2. Récupérer leur outputs.\n3. **Fusionner les résultats** dans un JSON unique.\n\n{\n  \"Pays\": \"Valeur si trouvée, sinon champ vide\",\n  \"Genre\": \"Valeur si trouvée, sinon champ vide\",\n  \"Actif\": \"true/false si trouvé, sinon champ vide\",\n  \"Ouvert aux nouveaux\": \"true/false si trouvé, sinon champ vide\",\n  \"Email demo\": \"Valeur si trouvée, sinon champ vide\",\n  \"Vinyle\": \"true/false si trouvé, sinon champ vide\",\n  \"Followers SC\": \"Valeur numérique si trouvée, sinon champ vide\",\n  \"SoundCloud\": \"URL si trouvée, sinon champ vide\",\n  \"Facebook\": \"URL si trouvée, sinon champ vide\",\n  \"Instagram\": \"URL si trouvée, sinon champ vide\",\n  \"Beatport\": \"URL si trouvée, sinon champ vide\",\n  \"Bandcamp\": \"URL si trouvée, sinon champ vide\"\n}\n\n---\n\n## ✅ **Résumé de l'Architecture**  \n\n1. **L’agent orchestrateur** reçoit le **nom du label**.  \n2. Il délègue les recherches aux **sous-agents spécialisés** dans cet ordre précis :  \n   - **SoundCloud** (Pays, Email demo, Followers, Lien SoundCloud)  \n   - **Facebook** (Lien Facebook, Email demo)  \n   - **Instagram** (Lien Instagram, Email demo)  \n   - **Beatport** (Genre, Actif, Ouvert aux nouveaux, Lien Beatport)  \n   - **Bandcamp** (Vinyle, Lien Bandcamp)  \n3. Il récupère et **fusionne les résultats** en un JSON final.  \n\n🎯 **Finalité**\nCette architecture améliore la précision et l'efficacité de la collecte des informations des labels musicaux pour remplir un **Google Sheet** de manière optimisée. 🚀  "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        212,
        -220
      ],
      "id": "ce03cfce-5aaf-48fb-9376-8deda87a6eec",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"Pays\": \"Valeur si trouvée, sinon champ vide\",\n  \"Genre\": \"Valeur si trouvée, sinon champ vide\",\n  \"Actif\": \"true/false si trouvé, sinon champ vide\",\n  \"Ouvert aux nouveaux\": \"true/false si trouvé, sinon champ vide\",\n  \"Email demo\": \"Valeur si trouvée, sinon champ vide\",\n  \"Vinyle\": \"true/false si trouvé, sinon champ vide\",\n  \"Followers SC\": \"Valeur numérique si trouvée, sinon champ vide\",\n  \"SoundCloud\": \"URL si trouvée, sinon champ vide\",\n  \"Facebook\": \"URL si trouvée, sinon champ vide\",\n  \"Instagram\": \"URL si trouvée, sinon champ vide\",\n  \"Beatport\": \"URL si trouvée, sinon champ vide\",\n  \"Bandcamp\": \"URL si trouvée, sinon champ vide\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        420,
        0
      ],
      "id": "772d45c5-8907-49c1-9b38-26e93304a4fb",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        180,
        0
      ],
      "id": "480ee7d1-d2d5-4fdb-a058-ed06018bb95e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "PmqmzdRFH1SO1Yvi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "agentType"
            },
            {
              "name": "name"
            },
            {
              "name": "date"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -260,
        640
      ],
      "id": "409d7ed0-cb69-47d5-b4d6-3163eed35cc4",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.agentType }}",
                    "rightValue": "Soundcloud",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "dba1aff8-a1ce-43f3-bd1f-a5669382407c"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3ec63d0e-2e77-4adf-be10-336fdcf1eafa",
                    "leftValue": "={{ $json.agentType }}",
                    "rightValue": "Facebook",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "799619c6-79d9-421e-bbef-332c30617317",
                    "leftValue": "={{ $json.agentType }}",
                    "rightValue": "Instagram",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b36f8a60-5a56-4e99-86cc-34811d8831c5",
                    "leftValue": "={{ $json.agentType }}",
                    "rightValue": "Beatport",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "23f1bfc1-a6c3-4c97-a6bc-d1ab8267383b",
                    "leftValue": "={{ $json.agentType }}",
                    "rightValue": "Bandcamp",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        180,
        598
      ],
      "id": "3cb51d1d-5880-4425-a451-5b315168d418",
      "name": "Switch"
    },
    {
      "parameters": {
        "name": "Soundclould",
        "description": "Agent Soundcloud",
        "workflowId": {
          "__rl": true,
          "value": "={{ $workflow.id }}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('name', `Name of label`, 'string') }}",
            "date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('date', `Date of day formatted as YYYY-MM-DD`, 'string') }}",
            "agentType": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('agentType', `Sub agents:\n- Soundcloud\n- Facebook\n- Instagram\n- Beatport\n- Bandcamp`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "agentType",
              "displayName": "agentType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        300,
        0
      ],
      "id": "59f11ca8-c2db-4081-9a5b-a0d22261e5c6",
      "name": "Soundcloud Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "658e5e25-84ef-49c0-939d-60fb50d6679e",
              "name": "prompt",
              "value": "=## 🏷️ **2. Agent SoundCloud**  \n\n### **🎯 Objectif**  \nExtraire les informations disponibles sur **SoundCloud** du label.  \n\n### **📥 Données d’entrée**  \n- **Nom du label**  \n\n### **🛠️ Processus**  \n1. Rechercher la page SoundCloud officielle via **Brave Search**.  \n2. Extraire :  \n   - **Pays** *(si mentionné sur la page)*  \n   - **Email demo** *(description du profil)*  \n   - **Nombre de followers**  \n   - **Lien de la page SoundCloud**  \n\n### **📤 Format de sortie**  \n{\n  \"Pays\": \"Valeur si trouvée, sinon champ vide\",\n  \"Email demo\": \"Valeur si trouvée, sinon champ vide\",\n  \"Followers SC\": \"Valeur numérique si trouvée, sinon champ vide\",\n  \"SoundCloud\": \"URL si trouvée, sinon champ vide\"\n}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        240
      ],
      "id": "d4ad9b4c-5351-4feb-b121-0a0cbfcff5d7",
      "name": "Set Soundcloud Prompt"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "=## 🛠️ Procédure d’extraction des informations  \n\nL’agent suit la méthodologie suivante pour récupérer les données :  \n\n### **1. Initialisation des outils MCP**  \n- **Lister les outils disponibles** via `list tools` pour comprendre leurs usages.  \n- **Exécuter les outils** via `execute tools` pour effectuer les recherches. \n### **2. Recherche et Extraction des Données**  \nL’agent utilise **Brave Search** pour trouver les pages officielles des labels sur différentes plateformes et en extraire les informations.\n\n---\n\n## ❗ Règles Importantes  \n🔴 **Ne jamais inventer une information.**  \n✔️ Si une donnée est introuvable, **ne pas remplir le champ** plutôt que de générer une fausse information.  \n\n---\n\n## 📝 Format de sortie  \nL’agent doit uniquement renvoyer un JSON formaté tel que spécifié dans son prompt contenant les champs trouvés, sans aucun commentaire ni explication supplémentaire.  \n\n---\n\n## ✅ Vérifications Finales  \nAvant de renvoyer les données :  \n- **S’assurer que toutes les informations sont correctes.**  \n- **Ne pas remplir un champ si l’information est introuvable.**  \n- **Vérifier le bon format JSON avant de retourner la réponse.**  "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        652,
        640
      ],
      "id": "a1fdb199-2d77-4ca8-95de-15973e4acc01",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        620,
        860
      ],
      "id": "a35c5f65-6e28-4f8e-8af4-a06c5cafde07",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "PmqmzdRFH1SO1Yvi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "658e5e25-84ef-49c0-939d-60fb50d6679e",
              "name": "prompt",
              "value": "=## 🏷️ **3. Agent Facebook**  \n\n### **🎯 Objectif**  \nExtraire les informations disponibles sur **Facebook** du label.  \n\n### **📥 Données d’entrée**  \n- **Nom du label**  \n\n### **🛠️ Processus**  \n1. Rechercher la page Facebook officielle via **Brave Search**.  \n2. Extraire :  \n   - **Lien de la page Facebook**  \n   - **Email demo** *(si non trouvé sur SoundCloud, rechercher dans la description du profil Facebook)*  \n\n### **📤 Format de sortie**  \n{\n  \"Facebook\": \"URL si trouvée, sinon champ vide\",\n  \"Email demo\": \"Valeur si trouvée, sinon champ vide\"\n}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        440
      ],
      "id": "31951e12-abb8-4ba3-88cc-88c42c1e9b96",
      "name": "Set Facebook Prompt"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "658e5e25-84ef-49c0-939d-60fb50d6679e",
              "name": "prompt",
              "value": "=## 🏷️ **4. Agent Instagram**  \n\n### **🎯 Objectif**  \nExtraire les informations disponibles sur **Instagram** du label.  \n\n### **📥 Données d’entrée**  \n- **Nom du label**  \n\n### **🛠️ Processus**  \n1. Rechercher la page Instagram officielle via **Brave Search**.  \n2. Extraire :  \n   - **Lien de la page Instagram**  \n   - **Email demo** *(si non trouvé ailleurs, rechercher dans la bio Instagram)*  \n\n### **📤 Format de sortie**  \n{\n  \"Instagram\": \"URL si trouvée, sinon champ vide\",\n  \"Email demo\": \"Valeur si trouvée, sinon champ vide\"\n}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        640
      ],
      "id": "c2a77315-1260-4a67-9736-7bbf2a2172eb",
      "name": "Set Instagram Prompt"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "658e5e25-84ef-49c0-939d-60fb50d6679e",
              "name": "prompt",
              "value": "=## 🏷️ **6. Agent Bandcamp**  \n\n### **🎯 Objectif**  \nExtraire les informations sur **Bandcamp** concernant le label.  \n\n### **📥 Données d’entrée**  \n- **Nom du label**  \n\n### **🛠️ Processus**  \n1. Rechercher la page Bandcamp officielle via **Brave Search**.  \n2. Extraire :  \n   - **Lien de la page Bandcamp**  \n   - **Si le label vend des vinyles** *(mention visible sur la page)*  \n\n### **📤 Format de sortie**  \n{\n  \"Vinyle\": \"true/false si trouvé, sinon champ vide\",\n  \"Bandcamp\": \"URL si trouvée, sinon champ vide\"\n}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        1040
      ],
      "id": "a43cf354-e9bb-4259-9a85-417555452811",
      "name": "Set Bandcamp Prompt"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "658e5e25-84ef-49c0-939d-60fb50d6679e",
              "name": "prompt",
              "value": "=## 🏷️ **5. Agent Beatport**  \n\n### **🎯 Objectif**  \nExtraire les informations sur **Beatport** concernant le label.  \n\n### **📥 Données d’entrée**  \n- **Nom du label**  \n\n### **🛠️ Processus**  \n1. Rechercher la page Beatport officielle via **Brave Search**.  \n2. Construire l’URL des releases du label sur **1 an** pour obtenir :  \n   - **Genre musical principal** *(celui avec la moyenne la plus élevée sur 1 an)*  \n   - **Nombre de releases sur 1 an** *(si >10, alors label actif)*  \n   - **Nombre d’artistes uniques sur 1 an** *(si >3, alors label ouvert aux nouveaux)*  \n   - **Lien de la page Beatport**  \n\n### **📤 Format de sortie**  \n{\n  \"Genre\": \"Valeur si trouvée, sinon champ vide\",\n  \"Actif\": \"true/false si trouvé, sinon champ vide\",\n  \"Ouvert aux nouveaux\": \"true/false si trouvé, sinon champ vide\",\n  \"Beatport\": \"URL si trouvée, sinon champ vide\"\n}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        840
      ],
      "id": "490cf618-42be-42c0-bf25-b645239597c4",
      "name": "Set Beatport Prompt"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        740,
        860
      ],
      "id": "aa3ae4ee-31a5-4e1a-99e2-ba9ba37049fb",
      "name": "BraveSearch Tools",
      "credentials": {
        "mcpClientApi": {
          "id": "oUqlK55uMLZhAhtv",
          "name": "MCP Brave Search"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $fromAI(\"tool\", \"the tool selected\") }}",
        "toolParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', ``, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        860,
        860
      ],
      "id": "184c899e-845a-4215-afbc-e9923286bc83",
      "name": "BraveSearch Execution",
      "credentials": {
        "mcpClientApi": {
          "id": "oUqlK55uMLZhAhtv",
          "name": "MCP Brave Search"
        }
      }
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "agentType",
              "value": "={{ $json.agentType }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        -40,
        640
      ],
      "id": "f889c09b-13a0-45bf-b956-6ed118d7219c",
      "name": "Execution Data",
      "disabled": true
    }
  ],
  "pinData": {
    "OpenAI Chat Model1": [
      {
        "json": {
          "isArtificialRecoveredEventItem": true
        }
      }
    ],
    "BraveSearch Tools": [
      {
        "json": {
          "isArtificialRecoveredEventItem": true
        }
      }
    ],
    "BraveSearch Execution": [
      {
        "json": {
          "isArtificialRecoveredEventItem": true
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Google Sheets Trigger": {
      "documentId": "134ilr5ikGxh3nvTAy4jJL5JZvwZLmCTqpgN8cgZ85yU",
      "sheetId": 0,
      "lastIndexChecked": 709,
      "lastRevision": 7164,
      "lastRevisionLink": "https://docs.google.com/spreadsheets/export?id=134ilr5ikGxh3nvTAy4jJL5JZvwZLmCTqpgN8cgZ85yU&revision=7164&exportFormat=xlsx"
    }
  },
  "tags": [
    {
      "createdAt": "2025-04-29T15:38:32.341Z",
      "updatedAt": "2025-04-29T15:38:32.341Z",
      "id": "I2qE4eGwsPABXirf",
      "name": "sheet"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-04-29T15:38:34.000Z",
  "versionId": "6d615ef6-e453-4586-9bcb-c5a4bfcc9bc6"
}