workflows/work/JZo9dez6bDZcSIq0.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-12-04T19:47:32.464Z",
    "createdAt": "2025-12-04T19:47:32.464Z",
    "versionId": "a71e6f6b-6aae-457d-aae5-6dbe395d92c8",
    "workflowId": "JZo9dez6bDZcSIq0",
    "nodes": [
      {
        "parameters": {
          "model": "anthropic/claude-sonnet-4.5",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          -1184,
          360
        ],
        "id": "dab70d8b-19b6-4515-8635-3a0ac388bb5b",
        "name": "Claude Sonnet 4.5",
        "credentials": {
          "openRouterApi": {
            "id": "zb2293xtkSB2aBnr",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "tickTickOAuth2Api",
          "jsonParameters": true,
          "additionalFieldsJson": "={{ $('Format').item.json.toJsonString() }}"
        },
        "type": "n8n-nodes-ticktick.tickTick",
        "typeVersion": 1,
        "position": [
          176,
          240
        ],
        "id": "148c342f-5f7d-4082-bf6d-b8e110d81241",
        "name": "Create a task",
        "credentials": {
          "tickTickOAuth2Api": {
            "id": "7PlyyXWmkuR1UFvy",
            "name": "TickTick account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const entretien = $input.first().json;\nconst entreprise = entretien['Entreprise'];\n\nreturn {\n  title: `Entretien: ${entreprise}`,\n  pageId: entretien.id,\n  entreprise: entreprise,\n  contrat: entretien.Contrat,\n  typeEntretien: entretien['Type Entretien'],\n  dateEntretien: entretien['Date Entretien'].start\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1408,
          136
        ],
        "id": "ecf8ff40-f7bf-45ba-b01d-42323d3fe47b",
        "name": "Mapping"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "55d404df-1c05-4410-b451-6dcd5b9547e0",
                "leftValue": "={{ $json[\"Est un template\"] }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "false",
                  "singleValue": true
                }
              },
              {
                "id": "date-future",
                "leftValue": "={{ $json['Date Entretien'].start }}",
                "rightValue": "={{ $now }}",
                "operator": {
                  "type": "dateTime",
                  "operation": "after"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -1632,
          232
        ],
        "id": "af963c7b-a1ef-4516-8eb9-29b524ad7b2a",
        "name": "Is Valid",
        "disabled": true
      },
      {
        "parameters": {
          "authentication": "tickTickOAuth2Api",
          "resource": "project",
          "operation": "get",
          "projectId": "66ba4bbedb643ca0adb34ab0",
          "projectData": true
        },
        "type": "n8n-nodes-ticktick.tickTick",
        "typeVersion": 1,
        "position": [
          -496,
          136
        ],
        "id": "0ffae71f-467b-4a20-b5a0-1f5dae805913",
        "name": "Get Tasks TickTick",
        "alwaysOutputData": false,
        "credentials": {
          "tickTickOAuth2Api": {
            "id": "7PlyyXWmkuR1UFvy",
            "name": "TickTick account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const tasks = $input.first().json.tasks;\nconst targetTitle = $('Format').first().json.title;\n\nconst foundTask = tasks.find(task => task.title === targetTitle);\n\nreturn foundTask ? {id: foundTask.id} : {id: null};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -272,
          136
        ],
        "id": "ec90ee73-3b89-441d-9694-f2db38710895",
        "name": "Extract Task If Found"
      },
      {
        "parameters": {
          "authentication": "tickTickOAuth2Api",
          "operation": "update",
          "projectId": "66ba4bbedb643ca0adb34ab0",
          "taskId": "={{ $json.id }}",
          "title": "={{ $('Format').item.json.title }}",
          "additionalFields": {
            "content": "={{ $('Format').item.json.content }}",
            "startDate": "={{ $('Format').item.json.startDate }}"
          }
        },
        "type": "n8n-nodes-ticktick.tickTick",
        "typeVersion": 1,
        "position": [
          176,
          40
        ],
        "id": "8919167e-fcf4-4ab5-abdf-8449bf8ab140",
        "name": "Update a task",
        "credentials": {
          "tickTickOAuth2Api": {
            "id": "7PlyyXWmkuR1UFvy",
            "name": "TickTick account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "task-id-exists",
                "leftValue": "={{ $json.id }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -48,
          136
        ],
        "id": "b650a7f8-1886-4d00-91c7-d96bf1e3cd45",
        "name": "If Task Exists"
      },
      {
        "parameters": {
          "jsCode": "// Déclaration des constantes\nconst mapping = $('Mapping').first().json;\nconst TRAVAIL_PROJECT_ID = '66ba4bbedb643ca0adb34ab0';\n\n// Récupération du tableau d'items produit par l'agent\nconst checklist = $input.first().json.output;\n\n// Groupement par section\nconst sections = checklist.reduce((acc, { section, title }) => {\n  (acc[section] ||= []).push(title);\n  return acc;\n}, {});\n\n// Construction du contenu formaté\nconst content =\n  `📋 Préparation Entretien ${mapping.entreprise}\\n\\n` +\n  Object.entries(sections)\n    .map(([section, titles]) => {\n      const lines = titles.map(t => `  • ${t}`).join('\\n');\n      return `${section}\\n${lines}\\n`;\n    })\n    .join('\\n');\n\n// Création des sous-tâches TickTick\nconst items = checklist.map(({ section, title }) => ({\n  title: `${section} - ${title}`,\n  status: 0\n}));\n\n// Retour final vers TickTick API\nreturn {\n  projectId: TRAVAIL_PROJECT_ID,\n  title: mapping.title,\n  content: content.trim(),\n  startDate: mapping.dateEntretien,\n  tags: [\"🤖Auto\", \"🕒1h\"],\n  items\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -720,
          136
        ],
        "id": "53dc9d20-3ccc-4a76-b8a7-d3491208dee3",
        "name": "Format"
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "event": "pagedUpdatedInDatabase",
          "databaseId": {
            "__rl": true,
            "value": "e86c6eb7-5d79-4569-8ed4-145a90fca553",
            "mode": "list",
            "cachedResultName": "Pipeline Entretiens",
            "cachedResultUrl": "https://www.notion.so/e86c6eb75d7945698ed4145a90fca553"
          }
        },
        "type": "n8n-nodes-base.notionTrigger",
        "typeVersion": 1,
        "position": [
          -1856,
          232
        ],
        "id": "d01565d4-313e-4106-941c-e220321f6dbb",
        "name": "Notion Trigger",
        "credentials": {
          "notionApi": {
            "id": "62MjEeirg4hzemTI",
            "name": "Notion account"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          -1408,
          328
        ],
        "id": "ec3d34d9-46b1-48ff-95b5-a5d1e7fb0ed1",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Entreprise: {{ $('Mapping').first().json.entreprise }}\nContrat: {{ $('Mapping').first().json.contrat }}\nType Entretien: {{ $('Mapping').first().json.typeEntretien }}\nDate Entretien: {{ $('Mapping').first().json.dateEntretien }}\n\nblockId = {{ $('Mapping').first().json.pageId }}\n\nAppelle immédiatement le tool avec ce blockId.",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "=Tu disposes de ce tool :\n\n{\n  \"name\": \"Get page content\",\n  \"description\": \"Récupère le contenu d'une page Notion via son blockId\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"blockId\": { \"type\": \"string\" }\n    },\n    \"required\": [\"blockId\"]\n  }\n}\n\nPour appeler le tool, tu dois OBLIGATOIREMENT renvoyer un JSON strict :\n\n{\n  \"tool\": \"Get page content\",\n  \"toolInput\": {\n    \"blockId\": \"<ID>\"\n  }\n}\n\nNe réponds JAMAIS autrement tant que tu n'as pas récupéré le contenu de la page.\n\n---\n\nTu es un assistant spécialisé dans la préparation d'entretiens techniques et professionnels pour un développeur fullstack senior.\n\n# Contexte\nL'utilisateur maintient un CRM d'opportunités professionnelles dans Notion. Chaque entretien a un type, une date, et un contenu détaillé (template rempli avec stack technique, contexte mission). Tu dois générer une checklist de préparation adaptée pour une tâche TickTick.\n\n# Données de l'entretien\nLes informations suivantes te sont fournies :\n- Entreprise\n- Contrat (ESN, Freelance Direct, Startup, CDI Grand Compte)\n- Type Entretien (🎯 Recruteur/RH, 💻 Technique, 🤝 Manager/Équipe, 💰 Négociation)\n- Date Entretien\n- Contenu détaillé de la page (template rempli avec stack, notes, contexte métier)\n\n# Ta mission\nGénère une **checklist de préparation concrète et actionnable** basée sur :\n1. Le **Type Entretien**\n2. Les **technologies mentionnées** dans le contenu\n3. Le **Contrat** (ESN vs Freelance vs Startup)\n4. Le **contexte spécifique** de la mission\n\n## Ton\n- Direct et actionnable\n- Pas de motivation artificielle\n- Concret et technique\n- Adapté au profil senior\n\n## Adaptation au Type Entretien\n\n### 💻 Entretien Technique\n- Identifie les technos clés mentionnées dans le contenu\n- Génère des points de révision spécifiques et concrets\n- Suggère des projets/démos pertinents à présenter\n- Inclus des concepts clés à maîtriser pour chaque techno\n- Adapte au niveau attendu (senior vs mid vs junior si mentionné)\n\n**Exemples de points de révision :**\n- Si Angular mentionné → \"Revoir Signals, RxJS avancé, performance optimization\"\n- Si n8n mentionné → \"Préparer démo workflows production (scraping, RAG, intégrations)\"\n- Si Scala/Kafka mentionné → \"Réviser Event Sourcing, CQRS, patterns réactifs\"\n- Si Python/IA mentionné → \"Préparer démo agents (Pydantic AI, Claude SDK, RAG)\"\n\n### 🎯 Entretien Recruteur/RH\n- Points à clarifier sur la mission (remote, durée, équipe)\n- Préparer pitch de présentation (2min)\n- Questions à poser sur l'ESN/entreprise\n- Vérifier profil LinkedIn à jour\n- Préparer exemples concrets de réalisations\n\n### 🤝 Entretien Manager/Équipe\n- Préparer questions sur l'organisation et méthodologie\n- Identifier fit culturel et valeurs\n- Préparer exemples de collaboration/leadership\n- Questions sur autonomie et responsabilités\n\n### 💰 Négociation\n- Préparer fourchette salariale/TJM argumentée\n- Lister avantages à négocier (remote, formation, équipement)\n- Préparer contre-arguments si offre basse\n- Alternatives à proposer (equity, bonus, flexibilité)\n\n## Adaptation au Contrat\n\n### ESN\n- Clarifier politique intercontrats\n- Comprendre choix de missions\n- Vérifier accompagnement formation\n\n### Freelance Direct\n- Clarifier TJM, délais paiement, clause résiliation\n- Préparer conditions contractuelles\n- Identifier scope précis et livrables\n\n### Startup\n- Comprendre runway et levée de fonds\n- Clarifier equity et vesting\n- Évaluer viabilité et vision produit\n\n### CDI Grand Compte\n- Comprendre process de recrutement (nombre d'étapes)\n- Clarifier évolution et perspectives\n- Vérifier politique remote et équilibre vie pro/perso\n\n# Structure de la checklist\n\nGénère une checklist avec :\n- **Sections thématiques** avec émojis pertinents\n- **Items actionnables** (verbes d'action : \"Revoir\", \"Préparer\", \"Vérifier\")\n- **Concret et spécifique** (pas de généralités)\n- **Entre 5 et 12 items** selon complexité\n\n# Format de sortie\n\nFournis UNIQUEMENT un JSON array d'items, chaque item contenant :\n- `section` : Section thématique avec emoji\n- `title` : Description de l'item\n\nPas d'introduction ni explication supplémentaire."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          -1128,
          136
        ],
        "id": "ba98ab68-0612-4ef8-bfee-a265576c0bc6",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "jsonSchemaExample": "[\n  {\n    \"section\": \"🎯 Objectifs\",\n    \"title\": \"Démontrer expertise n8n/IA\"\n  },\n  {\n    \"section\": \"🎯 Objectifs\",\n    \"title\": \"Présenter workflows production\"\n  },\n  {\n    \"section\": \"💻 Révisions Techniques\",\n    \"title\": \"Revoir architecture n8n avancée (webhooks, API, error handling)\"\n  },\n  {\n    \"section\": \"💻 Révisions Techniques\",\n    \"title\": \"Préparer démo scraping Crawl4AI + LLM parsing\"\n  },\n  {\n    \"section\": \"💻 Révisions Techniques\",\n    \"title\": \"Réviser patterns agentic (Pydantic AI, Claude SDK)\"\n  },\n  {\n    \"section\": \"📂 Projets à Présenter\",\n    \"title\": \"Système scraping multi-domaines\"\n  },\n  {\n    \"section\": \"📂 Projets à Présenter\",\n    \"title\": \"Workflows RAG/Knowledge Management\"\n  },\n  {\n    \"section\": \"📂 Projets à Présenter\",\n    \"title\": \"Déploiement Dokploy + n8n\"\n  },\n  {\n    \"section\": \"❓ Questions à Poser\",\n    \"title\": \"Part exacte n8n vs Node/React dans mission\"\n  },\n  {\n    \"section\": \"❓ Questions à Poser\",\n    \"title\": \"Maturité n8n équipe client (workflows existants ?)\"\n  },\n  {\n    \"section\": \"❓ Questions à Poser\",\n    \"title\": \"Budget APIs/services externes (LLMs, etc.)\"\n  }\n]"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          -928,
          360
        ],
        "id": "e6f71796-036c-4c4a-b708-6a89100d82ac",
        "name": "Structured Output Parser"
      },
      {
        "parameters": {
          "resource": "block",
          "operation": "getAll",
          "blockId": {
            "__rl": true,
            "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Block', ``, 'string') }}",
            "mode": "id"
          },
          "returnAll": true,
          "fetchNestedBlocks": true
        },
        "type": "n8n-nodes-base.notionTool",
        "typeVersion": 2.2,
        "position": [
          -1056,
          360
        ],
        "id": "1fb8a8ad-903c-4efe-831e-67e9097f55f4",
        "name": "Get page content",
        "credentials": {
          "notionApi": {
            "id": "62MjEeirg4hzemTI",
            "name": "Notion account"
          }
        }
      }
    ],
    "connections": {
      "Claude Sonnet 4.5": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Mapping": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Valid": {
        "main": [
          [
            {
              "node": "Mapping",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Tasks TickTick": {
        "main": [
          [
            {
              "node": "Extract Task If Found",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Task If Found": {
        "main": [
          [
            {
              "node": "If Task Exists",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If Task Exists": {
        "main": [
          [
            {
              "node": "Update a task",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create a task",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format": {
        "main": [
          [
            {
              "node": "Get Tasks TickTick",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Notion Trigger": {
        "main": [
          [
            {
              "node": "Is Valid",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Format",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "AI Agent",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Get page content": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Thibaud Geisler",
    "name": null,
    "description": null
  },
  "activeVersionId": "a71e6f6b-6aae-457d-aae5-6dbe395d92c8",
  "connections": {
    "Claude Sonnet 4.5": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Mapping": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid": {
      "main": [
        [
          {
            "node": "Mapping",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Tasks TickTick": {
      "main": [
        [
          {
            "node": "Extract Task If Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Task If Found": {
      "main": [
        [
          {
            "node": "If Task Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Task Exists": {
      "main": [
        [
          {
            "node": "Update a task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format": {
      "main": [
        [
          {
            "node": "Get Tasks TickTick",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion Trigger": {
      "main": [
        [
          {
            "node": "Is Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Get page content": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-11T13:11:00.937Z",
  "id": "JZo9dez6bDZcSIq0",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Pipeline Entretiens To TickTick",
  "nodes": [
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1184,
        360
      ],
      "id": "dab70d8b-19b6-4515-8635-3a0ac388bb5b",
      "name": "Claude Sonnet 4.5",
      "credentials": {
        "openRouterApi": {
          "id": "zb2293xtkSB2aBnr",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "tickTickOAuth2Api",
        "jsonParameters": true,
        "additionalFieldsJson": "={{ $('Format').item.json.toJsonString() }}"
      },
      "type": "n8n-nodes-ticktick.tickTick",
      "typeVersion": 1,
      "position": [
        176,
        240
      ],
      "id": "148c342f-5f7d-4082-bf6d-b8e110d81241",
      "name": "Create a task",
      "credentials": {
        "tickTickOAuth2Api": {
          "id": "7PlyyXWmkuR1UFvy",
          "name": "TickTick account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const entretien = $input.first().json;\nconst entreprise = entretien['Entreprise'];\n\nreturn {\n  title: `Entretien: ${entreprise}`,\n  pageId: entretien.id,\n  entreprise: entreprise,\n  contrat: entretien.Contrat,\n  typeEntretien: entretien['Type Entretien'],\n  dateEntretien: entretien['Date Entretien'].start\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1408,
        136
      ],
      "id": "ecf8ff40-f7bf-45ba-b01d-42323d3fe47b",
      "name": "Mapping"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "55d404df-1c05-4410-b451-6dcd5b9547e0",
              "leftValue": "={{ $json[\"Est un template\"] }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "date-future",
              "leftValue": "={{ $json['Date Entretien'].start }}",
              "rightValue": "={{ $now }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1632,
        232
      ],
      "id": "af963c7b-a1ef-4516-8eb9-29b524ad7b2a",
      "name": "Is Valid",
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "tickTickOAuth2Api",
        "resource": "project",
        "operation": "get",
        "projectId": "66ba4bbedb643ca0adb34ab0",
        "projectData": true
      },
      "type": "n8n-nodes-ticktick.tickTick",
      "typeVersion": 1,
      "position": [
        -496,
        136
      ],
      "id": "0ffae71f-467b-4a20-b5a0-1f5dae805913",
      "name": "Get Tasks TickTick",
      "alwaysOutputData": false,
      "credentials": {
        "tickTickOAuth2Api": {
          "id": "7PlyyXWmkuR1UFvy",
          "name": "TickTick account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const tasks = $input.first().json.tasks;\nconst targetTitle = $('Format').first().json.title;\n\nconst foundTask = tasks.find(task => task.title === targetTitle);\n\nreturn foundTask ? {id: foundTask.id} : {id: null};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        136
      ],
      "id": "ec90ee73-3b89-441d-9694-f2db38710895",
      "name": "Extract Task If Found"
    },
    {
      "parameters": {
        "authentication": "tickTickOAuth2Api",
        "operation": "update",
        "projectId": "66ba4bbedb643ca0adb34ab0",
        "taskId": "={{ $json.id }}",
        "title": "={{ $('Format').item.json.title }}",
        "additionalFields": {
          "content": "={{ $('Format').item.json.content }}",
          "startDate": "={{ $('Format').item.json.startDate }}"
        }
      },
      "type": "n8n-nodes-ticktick.tickTick",
      "typeVersion": 1,
      "position": [
        176,
        40
      ],
      "id": "8919167e-fcf4-4ab5-abdf-8449bf8ab140",
      "name": "Update a task",
      "credentials": {
        "tickTickOAuth2Api": {
          "id": "7PlyyXWmkuR1UFvy",
          "name": "TickTick account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "task-id-exists",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -48,
        136
      ],
      "id": "b650a7f8-1886-4d00-91c7-d96bf1e3cd45",
      "name": "If Task Exists"
    },
    {
      "parameters": {
        "jsCode": "// Déclaration des constantes\nconst mapping = $('Mapping').first().json;\nconst TRAVAIL_PROJECT_ID = '66ba4bbedb643ca0adb34ab0';\n\n// Récupération du tableau d'items produit par l'agent\nconst checklist = $input.first().json.output;\n\n// Groupement par section\nconst sections = checklist.reduce((acc, { section, title }) => {\n  (acc[section] ||= []).push(title);\n  return acc;\n}, {});\n\n// Construction du contenu formaté\nconst content =\n  `📋 Préparation Entretien ${mapping.entreprise}\\n\\n` +\n  Object.entries(sections)\n    .map(([section, titles]) => {\n      const lines = titles.map(t => `  • ${t}`).join('\\n');\n      return `${section}\\n${lines}\\n`;\n    })\n    .join('\\n');\n\n// Création des sous-tâches TickTick\nconst items = checklist.map(({ section, title }) => ({\n  title: `${section} - ${title}`,\n  status: 0\n}));\n\n// Retour final vers TickTick API\nreturn {\n  projectId: TRAVAIL_PROJECT_ID,\n  title: mapping.title,\n  content: content.trim(),\n  startDate: mapping.dateEntretien,\n  tags: [\"🤖Auto\", \"🕒1h\"],\n  items\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        136
      ],
      "id": "53dc9d20-3ccc-4a76-b8a7-d3491208dee3",
      "name": "Format"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "event": "pagedUpdatedInDatabase",
        "databaseId": {
          "__rl": true,
          "value": "e86c6eb7-5d79-4569-8ed4-145a90fca553",
          "mode": "list",
          "cachedResultName": "Pipeline Entretiens",
          "cachedResultUrl": "https://www.notion.so/e86c6eb75d7945698ed4145a90fca553"
        }
      },
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        -1856,
        232
      ],
      "id": "d01565d4-313e-4106-941c-e220321f6dbb",
      "name": "Notion Trigger",
      "credentials": {
        "notionApi": {
          "id": "62MjEeirg4hzemTI",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1408,
        328
      ],
      "id": "ec3d34d9-46b1-48ff-95b5-a5d1e7fb0ed1",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Entreprise: {{ $('Mapping').first().json.entreprise }}\nContrat: {{ $('Mapping').first().json.contrat }}\nType Entretien: {{ $('Mapping').first().json.typeEntretien }}\nDate Entretien: {{ $('Mapping').first().json.dateEntretien }}\n\nblockId = {{ $('Mapping').first().json.pageId }}\n\nAppelle immédiatement le tool avec ce blockId.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Tu disposes de ce tool :\n\n{\n  \"name\": \"Get page content\",\n  \"description\": \"Récupère le contenu d'une page Notion via son blockId\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"blockId\": { \"type\": \"string\" }\n    },\n    \"required\": [\"blockId\"]\n  }\n}\n\nPour appeler le tool, tu dois OBLIGATOIREMENT renvoyer un JSON strict :\n\n{\n  \"tool\": \"Get page content\",\n  \"toolInput\": {\n    \"blockId\": \"<ID>\"\n  }\n}\n\nNe réponds JAMAIS autrement tant que tu n'as pas récupéré le contenu de la page.\n\n---\n\nTu es un assistant spécialisé dans la préparation d'entretiens techniques et professionnels pour un développeur fullstack senior.\n\n# Contexte\nL'utilisateur maintient un CRM d'opportunités professionnelles dans Notion. Chaque entretien a un type, une date, et un contenu détaillé (template rempli avec stack technique, contexte mission). Tu dois générer une checklist de préparation adaptée pour une tâche TickTick.\n\n# Données de l'entretien\nLes informations suivantes te sont fournies :\n- Entreprise\n- Contrat (ESN, Freelance Direct, Startup, CDI Grand Compte)\n- Type Entretien (🎯 Recruteur/RH, 💻 Technique, 🤝 Manager/Équipe, 💰 Négociation)\n- Date Entretien\n- Contenu détaillé de la page (template rempli avec stack, notes, contexte métier)\n\n# Ta mission\nGénère une **checklist de préparation concrète et actionnable** basée sur :\n1. Le **Type Entretien**\n2. Les **technologies mentionnées** dans le contenu\n3. Le **Contrat** (ESN vs Freelance vs Startup)\n4. Le **contexte spécifique** de la mission\n\n## Ton\n- Direct et actionnable\n- Pas de motivation artificielle\n- Concret et technique\n- Adapté au profil senior\n\n## Adaptation au Type Entretien\n\n### 💻 Entretien Technique\n- Identifie les technos clés mentionnées dans le contenu\n- Génère des points de révision spécifiques et concrets\n- Suggère des projets/démos pertinents à présenter\n- Inclus des concepts clés à maîtriser pour chaque techno\n- Adapte au niveau attendu (senior vs mid vs junior si mentionné)\n\n**Exemples de points de révision :**\n- Si Angular mentionné → \"Revoir Signals, RxJS avancé, performance optimization\"\n- Si n8n mentionné → \"Préparer démo workflows production (scraping, RAG, intégrations)\"\n- Si Scala/Kafka mentionné → \"Réviser Event Sourcing, CQRS, patterns réactifs\"\n- Si Python/IA mentionné → \"Préparer démo agents (Pydantic AI, Claude SDK, RAG)\"\n\n### 🎯 Entretien Recruteur/RH\n- Points à clarifier sur la mission (remote, durée, équipe)\n- Préparer pitch de présentation (2min)\n- Questions à poser sur l'ESN/entreprise\n- Vérifier profil LinkedIn à jour\n- Préparer exemples concrets de réalisations\n\n### 🤝 Entretien Manager/Équipe\n- Préparer questions sur l'organisation et méthodologie\n- Identifier fit culturel et valeurs\n- Préparer exemples de collaboration/leadership\n- Questions sur autonomie et responsabilités\n\n### 💰 Négociation\n- Préparer fourchette salariale/TJM argumentée\n- Lister avantages à négocier (remote, formation, équipement)\n- Préparer contre-arguments si offre basse\n- Alternatives à proposer (equity, bonus, flexibilité)\n\n## Adaptation au Contrat\n\n### ESN\n- Clarifier politique intercontrats\n- Comprendre choix de missions\n- Vérifier accompagnement formation\n\n### Freelance Direct\n- Clarifier TJM, délais paiement, clause résiliation\n- Préparer conditions contractuelles\n- Identifier scope précis et livrables\n\n### Startup\n- Comprendre runway et levée de fonds\n- Clarifier equity et vesting\n- Évaluer viabilité et vision produit\n\n### CDI Grand Compte\n- Comprendre process de recrutement (nombre d'étapes)\n- Clarifier évolution et perspectives\n- Vérifier politique remote et équilibre vie pro/perso\n\n# Structure de la checklist\n\nGénère une checklist avec :\n- **Sections thématiques** avec émojis pertinents\n- **Items actionnables** (verbes d'action : \"Revoir\", \"Préparer\", \"Vérifier\")\n- **Concret et spécifique** (pas de généralités)\n- **Entre 5 et 12 items** selon complexité\n\n# Format de sortie\n\nFournis UNIQUEMENT un JSON array d'items, chaque item contenant :\n- `section` : Section thématique avec emoji\n- `title` : Description de l'item\n\nPas d'introduction ni explication supplémentaire."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1128,
        136
      ],
      "id": "ba98ab68-0612-4ef8-bfee-a265576c0bc6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"section\": \"🎯 Objectifs\",\n    \"title\": \"Démontrer expertise n8n/IA\"\n  },\n  {\n    \"section\": \"🎯 Objectifs\",\n    \"title\": \"Présenter workflows production\"\n  },\n  {\n    \"section\": \"💻 Révisions Techniques\",\n    \"title\": \"Revoir architecture n8n avancée (webhooks, API, error handling)\"\n  },\n  {\n    \"section\": \"💻 Révisions Techniques\",\n    \"title\": \"Préparer démo scraping Crawl4AI + LLM parsing\"\n  },\n  {\n    \"section\": \"💻 Révisions Techniques\",\n    \"title\": \"Réviser patterns agentic (Pydantic AI, Claude SDK)\"\n  },\n  {\n    \"section\": \"📂 Projets à Présenter\",\n    \"title\": \"Système scraping multi-domaines\"\n  },\n  {\n    \"section\": \"📂 Projets à Présenter\",\n    \"title\": \"Workflows RAG/Knowledge Management\"\n  },\n  {\n    \"section\": \"📂 Projets à Présenter\",\n    \"title\": \"Déploiement Dokploy + n8n\"\n  },\n  {\n    \"section\": \"❓ Questions à Poser\",\n    \"title\": \"Part exacte n8n vs Node/React dans mission\"\n  },\n  {\n    \"section\": \"❓ Questions à Poser\",\n    \"title\": \"Maturité n8n équipe client (workflows existants ?)\"\n  },\n  {\n    \"section\": \"❓ Questions à Poser\",\n    \"title\": \"Budget APIs/services externes (LLMs, etc.)\"\n  }\n]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -928,
        360
      ],
      "id": "e6f71796-036c-4c4a-b708-6a89100d82ac",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "resource": "block",
        "operation": "getAll",
        "blockId": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Block', ``, 'string') }}",
          "mode": "id"
        },
        "returnAll": true,
        "fetchNestedBlocks": true
      },
      "type": "n8n-nodes-base.notionTool",
      "typeVersion": 2.2,
      "position": [
        -1056,
        360
      ],
      "id": "1fb8a8ad-903c-4efe-831e-67e9097f55f4",
      "name": "Get page content",
      "credentials": {
        "notionApi": {
          "id": "62MjEeirg4hzemTI",
          "name": "Notion account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "zSl3wxrgtLrk7m2j"
  },
  "shared": [
    {
      "updatedAt": "2025-11-11T13:11:00.941Z",
      "createdAt": "2025-11-11T13:11:00.941Z",
      "role": "workflow:owner",
      "workflowId": "JZo9dez6bDZcSIq0",
      "projectId": "TBUFy0KozocPEXEX"
    }
  ],
  "staticData": {
    "node:Notion Trigger": {
      "lastTimeChecked": "2025-12-04T21:13:00.000Z",
      "possibleDuplicates": [
        "2bf82fe2-6406-814b-8947-cafae36e070d"
      ]
    }
  },
  "tags": [
    {
      "updatedAt": "2025-11-11T12:50:13.688Z",
      "createdAt": "2025-11-11T12:50:13.688Z",
      "id": "xHtq7NpvAtN0PkNm",
      "name": "work"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-12-04T19:47:32.000Z",
  "versionId": "a71e6f6b-6aae-457d-aae5-6dbe395d92c8"
}